<a href="https://colab.research.google.com/github/farookfazni/AI-to-Predict-Career-Path/blob/master/BA_and_NET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
BA = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Cleaned_Data_Step1/BA_processed1.csv')
NET = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Cleaned_Data_Step1/NET_processed1.csv')

In [3]:
BA_title = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Fully_Extracted_Data/BA_processed1.csv')
NET_title = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Fully_Extracted_Data/NET_processed1.csv')

In [4]:
BA_title['organization_title_1']

0                         Business Analyst
1                         Business Analyst
2                         Business Analyst
3               Associate Business Analyst
4                         Business Analyst
                      ...
495    Software Quality Assurance Engineer
496                       Business Analyst
497                 Business Analyst - PVH
498          Accounts Receivable Associate
499                       Business Analyst
Name: organization_title_1, Length: 500, dtype: object

In [5]:
NET_title['organization_title_1']

0                                      Network Engineer
1                                      Network Engineer
2                                 Core Network Engineer
3                               Senior Network Engineer
4                                      Network Engineer
                             ...
516                                     DevOps Engineer
517                           System Support Specialist
518    Cluster Leader / Senior Network Support Engineer
519                        Senior Engineer Core Network
520     Team Lead - Network security and Virtualization
Name: organization_title_1, Length: 521, dtype: object

In [6]:
BA_Data = pd.concat([BA,BA_title['organization_title_1']], axis=1)
NET_Data = pd.concat([NET,NET_title['organization_title_1']], axis=1)

In [7]:
# Drop column
BA_Data = BA_Data.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)
NET_Data = NET_Data.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)

In [8]:
def check_Avalaiblity(datset,x="Software Engineer"):
  countpos = 0
  countneg = 0
  other_labels = []
  label = []
  label_name = []
  # goimg through the datset
  for i in datset['organization_title_1']:
    # making sure all values are string
    st = str(i)
    # cheking the sub string exisits in string
    if x in st:
      # if sting is available adding 1 to label
      label.append(1)
      label_name.append(st)
      # Keep count
      countpos += 1
    else:
      # if sting is not available adding 0 to label
      label.append(0)
      # adding the values of other string values to the other_label
      other_labels.append(st)
      countneg += 1
  return label, other_labels, label_name, countpos, countneg

In [ ]:
BA_Data.shape

(500, 10)

In [ ]:
NET_Data.shape

(521, 10)

In [ ]:
label, other_labels, label_name, countpos, countneg = check_Avalaiblity(BA_Data,"Business Analyst")

In [ ]:
countpos

477

In [ ]:
countneg

23

In [ ]:
other_labels

['Business Intelligence Analyst',
 'Project Management Intern',
 'Software Designer',
 'Operations Manager',
 'Software Engineer',
 'Assistant Project Manager',
 'Assistant Manager',
 'Analyst',
 'Associate lead business analyst',
 'Merchandiser',
 'Senior Operations Analyst',
 'Business Intelligence Analyst',
 'Executive - Business Consulting',
 'Digital Transformation Analyst ',
 'Founder',
 'Digital Transformation Analyst',
 'IEEE Brand Ambassador',
 'Global Intern - Business Analysis',
 'Executive',
 'Executive',
 'Game Master',
 'Software Quality Assurance Engineer',
 'Accounts Receivable Associate']

In [ ]:
BA_Data['label'] = label

In [ ]:
BA_Data_New = BA_Data.loc[BA_Data['label']==0]

In [ ]:
BA_Data_New

                                     id  ... label
48                    harsh-edirisinghe  ...     0
88   ravipprasath-dineshkumar-83b5a612a  ...     0
91           amanda-marasinghe-29196582  ...     0
94                           thushara88  ...     0
111      hanarshanya-ganeshan-a2356314b  ...     0
143     nipuna-samaradiwakara-0105a015b  ...     0
151       sudharshan-ravindran-8b95b1b0  ...     0
183            arani-yohendran-7409aaa6  ...     0
233      thishan-haththallage-94b517146  ...     0
235             ovin-abeykoon-b3535812b  ...     0
240                              maziya  ...     0
241                           chatura-a  ...     0
260      anushka-kodithuwakku-178759128  ...     0
350                  lakshika-madhumali  ...     0
372          miuli-kalubowila-318223143  ...     0
374       dulanga-geekiyanage-a6045a190  ...     0
395   kanashyam-yoganandasivam-9ba9a7b6  ...     0
410                thivvyankaruneswaran  ...     0
417            bhanuka-gamage-256ab11b5  ...     0
440         nipuni-gunatilake-070b87114  ...     0
442                   nabeel-m-b589a8b3  ...     0
495           kavitha-selvasenakurukkal  ...     0
498        binara-panduwawala-16350b168  ...     0

[23 rows x 11 columns]

In [ ]:
BA_Data = BA_Data.drop(94)
BA_Data = BA_Data.drop(111)
BA_Data = BA_Data.drop(151)
BA_Data = BA_Data.drop(235)
BA_Data = BA_Data.drop(240)
BA_Data = BA_Data.drop(350)
BA_Data = BA_Data.drop(417)
BA_Data = BA_Data.drop(440)
BA_Data = BA_Data.drop(498)

In [ ]:
BA_Data.shape

(490, 11)

In [ ]:
BA_Data.insert(10,'Target','Business Analyst')

In [ ]:
BA_Data = BA_Data.drop(['organization_title_1','label'], axis=1)

In [ ]:
BA_Data

                                  id  ...            Target
0      tharuka-nanayakkara-306986165  ...  Business Analyst
1        lakshika-jayakody-981070170  ...  Business Analyst
2      shakkya-jayawardena-113094173  ...  Business Analyst
3     krishnica-mariyathas-62a9a8165  ...  Business Analyst
4                     romeshwijesiri  ...  Business Analyst
..                               ...  ...               ...
494      kalani-dhanushika-3487b11aa  ...  Business Analyst
495        kavitha-selvasenakurukkal  ...  Business Analyst
496    pramila-bopearachchi-49a4356b  ...  Business Analyst
497  nethmi-wickramasinghe-890080101  ...  Business Analyst
499   shalindri-gunasekera-537282211  ...  Business Analyst

[490 rows x 10 columns]

In [ ]:
BA_Data.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/BA_Data_processed_WithTarget_Value.csv')

In [9]:
label2, other_labels2, label_name2, countpos2, countneg2 = check_Avalaiblity(NET_Data,"Network Engineer")

In [10]:
countpos2

252

In [ ]:
label_name2

In [12]:
countneg2

269

In [ ]:
other_labels2

In [14]:
NET_Data['label'] = label2

In [15]:
NET_Data_New = NET_Data.loc[NET_Data['label']==1]

In [16]:
NET_Data_New.shape

(252, 11)

In [17]:
NET_Data_check = NET_Data.loc[NET_Data['label']==0]

In [18]:
NET_Data_check.shape

(269, 11)

In [19]:
label3, other_labels3, label_name3, countpos3, countneg3 = check_Avalaiblity(NET_Data_check,"Network Support Engineer")

In [20]:
countpos3

35

In [ ]:
label_name3

In [ ]:
other_labels3

In [23]:
NET_Data_check['label'] = label3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
NET_Data_New2 = NET_Data_check.loc[NET_Data_check['label']==1]

In [25]:
NET_Data_New2.shape

(35, 11)

In [26]:
NET_Data_check2 = NET_Data_check.loc[NET_Data_check['label']==0]

In [27]:
NET_Data_check2.shape

(234, 11)

In [28]:
label4, other_labels4, label_name4, countpos4, countneg4 = check_Avalaiblity(NET_Data_check2,"Network")

In [29]:
countneg4

108

In [ ]:
other_labels4

In [31]:
countpos4

126

In [ ]:
label_name4

In [33]:
NET_Data_check2['label'] = label4

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
NET_Data_check3 = NET_Data_check2.loc[NET_Data_check2['label']==1]

In [35]:
NET_Data_check3.shape

(126, 11)

In [36]:
pd.set_option('max_rows', 99999)
pd.set_option('max_colwidth', 400)
pd.describe_option('max_colwidth')

display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 400]

In [ ]:
NET_Data_check3

In [38]:
NET_Data_check3 = NET_Data_check3.drop(19)
NET_Data_check3 = NET_Data_check3.drop(111)
NET_Data_check3 = NET_Data_check3.drop(172)
NET_Data_check3 = NET_Data_check3.drop(179)
NET_Data_check3 = NET_Data_check3.drop(253)
NET_Data_check3 = NET_Data_check3.drop(276)
NET_Data_check3 = NET_Data_check3.drop(337)
NET_Data_check3 = NET_Data_check3.drop(395)
NET_Data_check3 = NET_Data_check3.drop(414)
NET_Data_check3 = NET_Data_check3.drop(459)
NET_Data_check3 = NET_Data_check3.drop(469)
NET_Data_check3 = NET_Data_check3.drop(480)
NET_Data_check3 = NET_Data_check3.drop(504)
NET_Data_check3 = NET_Data_check3.drop(512)

In [39]:
NET_Data_check3.shape

(112, 11)

In [40]:
NET_Data_check4 = NET_Data_check2.loc[NET_Data_check2['label']==0]

In [42]:
NET_Data_check4.shape

(108, 11)

In [ ]:
NET_Data_check4

In [45]:
NET_Data_check4 =NET_Data_check4.dropna(subset=['organization_title_1'])

In [46]:
NET_Data_check4.shape

(104, 11)

In [ ]:
NET_Data_check4

In [49]:
NET_Data_check4 = NET_Data_check4.drop(128)
NET_Data_check4 = NET_Data_check4.drop(129)
NET_Data_check4 = NET_Data_check4.drop(141)
NET_Data_check4 = NET_Data_check4.drop(181)
NET_Data_check4 = NET_Data_check4.drop(192)
NET_Data_check4 = NET_Data_check4.drop(214)
NET_Data_check4 = NET_Data_check4.drop(235)
NET_Data_check4 = NET_Data_check4.drop(249)
NET_Data_check4 = NET_Data_check4.drop(268)
NET_Data_check4 = NET_Data_check4.drop(288)
NET_Data_check4 = NET_Data_check4.drop(334)
NET_Data_check4 = NET_Data_check4.drop(336)
NET_Data_check4 = NET_Data_check4.drop(344)
NET_Data_check4 = NET_Data_check4.drop(376)
NET_Data_check4 = NET_Data_check4.drop(382)
NET_Data_check4 = NET_Data_check4.drop(396)
NET_Data_check4 = NET_Data_check4.drop(445)
NET_Data_check4 = NET_Data_check4.drop(478)
NET_Data_check4 = NET_Data_check4.drop(482)
NET_Data_check4 = NET_Data_check4.drop(483)
NET_Data_check4 = NET_Data_check4.drop(484)
NET_Data_check4 = NET_Data_check4.drop(493)
NET_Data_check4 = NET_Data_check4.drop(502)
NET_Data_check4 = NET_Data_check4.drop(513)
NET_Data_check4 = NET_Data_check4.drop(516)

In [50]:
NET_Data_check4.shape

(79, 11)

In [51]:
# concat two dataframes
Data_NET_Pro = pd.concat([NET_Data_New,NET_Data_New2,NET_Data_check3,NET_Data_check4],ignore_index=True)

In [52]:
Data_NET_Pro.shape

(478, 11)

In [53]:
Data_NET_Pro.insert(10,'Target','Network Engineer')

In [54]:
Data_NET_Pro = Data_NET_Pro.drop(['organization_title_1','label'], axis=1)

In [55]:
Data_NET_Pro.shape

(478, 10)

In [ ]:
Data_NET_Pro

In [57]:
Data_NET_Pro.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/NET_Data_processed_WithTarget_Value.csv')