<a href="https://colab.research.google.com/github/farookfazni/AI-to-Predict-Career-Path/blob/master/BA_and_NET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
BA = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Cleaned_Data_Step1/BA_processed1.csv')
NET = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Cleaned_Data_Step1/NET_processed1.csv')

In [3]:
BA_title = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Fully_Extracted_Data/BA_processed1.csv')
NET_title = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Fully_Extracted_Data/NET_processed1.csv')

In [8]:
BA_title['organization_title_1']

0                         Business Analyst
1                         Business Analyst
2                         Business Analyst
3               Associate Business Analyst
4                         Business Analyst
                      ...
495    Software Quality Assurance Engineer
496                       Business Analyst
497                 Business Analyst - PVH
498          Accounts Receivable Associate
499                       Business Analyst
Name: organization_title_1, Length: 500, dtype: object

In [9]:
NET_title['organization_title_1']

0                                      Network Engineer
1                                      Network Engineer
2                                 Core Network Engineer
3                               Senior Network Engineer
4                                      Network Engineer
                             ...
516                                     DevOps Engineer
517                           System Support Specialist
518    Cluster Leader / Senior Network Support Engineer
519                        Senior Engineer Core Network
520     Team Lead - Network security and Virtualization
Name: organization_title_1, Length: 521, dtype: object

In [5]:
BA_Data = pd.concat([BA,BA_title['organization_title_1']], axis=1)
NET_Data = pd.concat([NET,NET_title['organization_title_1']], axis=1)

In [6]:
# Drop column
BA_Data = BA_Data.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)
NET_Data = NET_Data.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)

In [13]:
def check_Avalaiblity(datset,x="Software Engineer"):
  countpos = 0
  countneg = 0
  other_labels = []
  label = []
  label_name = []
  # goimg through the datset
  for i in datset['organization_title_1']:
    # making sure all values are string
    st = str(i)
    # cheking the sub string exisits in string
    if x in st:
      # if sting is available adding 1 to label
      label.append(1)
      label_name.append(st)
      # Keep count
      countpos += 1
    else:
      # if sting is not available adding 0 to label
      label.append(0)
      # adding the values of other string values to the other_label
      other_labels.append(st)
      countneg += 1
  return label, other_labels, label_name, countpos, countneg

In [10]:
BA_Data.shape

(500, 10)

In [11]:
NET_Data.shape

(521, 10)

In [14]:
label, other_labels, label_name, countpos, countneg = check_Avalaiblity(BA_Data,"Business Analyst")

In [15]:
countpos

477

In [17]:
countneg

23

In [18]:
other_labels

['Business Intelligence Analyst',
 'Project Management Intern',
 'Software Designer',
 'Operations Manager',
 'Software Engineer',
 'Assistant Project Manager',
 'Assistant Manager',
 'Analyst',
 'Associate lead business analyst',
 'Merchandiser',
 'Senior Operations Analyst',
 'Business Intelligence Analyst',
 'Executive - Business Consulting',
 'Digital Transformation Analyst ',
 'Founder',
 'Digital Transformation Analyst',
 'IEEE Brand Ambassador',
 'Global Intern - Business Analysis',
 'Executive',
 'Executive',
 'Game Master',
 'Software Quality Assurance Engineer',
 'Accounts Receivable Associate']

In [19]:
BA_Data['label'] = label

In [21]:
BA_Data_New = BA_Data.loc[BA_Data['label']==0]

In [22]:
BA_Data_New

                                     id  ... label
48                    harsh-edirisinghe  ...     0
88   ravipprasath-dineshkumar-83b5a612a  ...     0
91           amanda-marasinghe-29196582  ...     0
94                           thushara88  ...     0
111      hanarshanya-ganeshan-a2356314b  ...     0
143     nipuna-samaradiwakara-0105a015b  ...     0
151       sudharshan-ravindran-8b95b1b0  ...     0
183            arani-yohendran-7409aaa6  ...     0
233      thishan-haththallage-94b517146  ...     0
235             ovin-abeykoon-b3535812b  ...     0
240                              maziya  ...     0
241                           chatura-a  ...     0
260      anushka-kodithuwakku-178759128  ...     0
350                  lakshika-madhumali  ...     0
372          miuli-kalubowila-318223143  ...     0
374       dulanga-geekiyanage-a6045a190  ...     0
395   kanashyam-yoganandasivam-9ba9a7b6  ...     0
410                thivvyankaruneswaran  ...     0
417            bhanuka-gamage-256ab11b5  ...     0
440         nipuni-gunatilake-070b87114  ...     0
442                   nabeel-m-b589a8b3  ...     0
495           kavitha-selvasenakurukkal  ...     0
498        binara-panduwawala-16350b168  ...     0

[23 rows x 11 columns]

In [24]:
BA_Data = BA_Data.drop(94)
BA_Data = BA_Data.drop(111)
BA_Data = BA_Data.drop(151)
BA_Data = BA_Data.drop(235)
BA_Data = BA_Data.drop(240)
BA_Data = BA_Data.drop(350)
BA_Data = BA_Data.drop(417)
BA_Data = BA_Data.drop(440)
BA_Data = BA_Data.drop(498)

In [25]:
BA_Data.shape

(490, 11)

In [26]:
BA_Data.insert(10,'Target','Business Analyst')

In [27]:
BA_Data = BA_Data.drop(['organization_title_1','label'], axis=1)

In [28]:
BA_Data

                                  id  ...            Target
0      tharuka-nanayakkara-306986165  ...  Business Analyst
1        lakshika-jayakody-981070170  ...  Business Analyst
2      shakkya-jayawardena-113094173  ...  Business Analyst
3     krishnica-mariyathas-62a9a8165  ...  Business Analyst
4                     romeshwijesiri  ...  Business Analyst
..                               ...  ...               ...
494      kalani-dhanushika-3487b11aa  ...  Business Analyst
495        kavitha-selvasenakurukkal  ...  Business Analyst
496    pramila-bopearachchi-49a4356b  ...  Business Analyst
497  nethmi-wickramasinghe-890080101  ...  Business Analyst
499   shalindri-gunasekera-537282211  ...  Business Analyst

[490 rows x 10 columns]

In [29]:
BA_Data.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/BA_Data_processed_WithTarget_Value.csv')