<a href="https://colab.research.google.com/github/farookfazni/AI-to-Predict-Career-Path/blob/master/DatScien_MLEng_DataEngineer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
Data_Sci = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Cleaned_Data_Step1/DSci_processed1.csv')
Data_Eng = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Cleaned_Data_Step1/DEng_processed1.csv')
ML_eng = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Cleaned_Data_Step1/ML_processed1.csv')

In [4]:
Data_Sci_title = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Fully_Extracted_Data/DSci_processed1.csv')
Data_Eng_title = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Fully_Extracted_Data/DEng_processed1.csv')
ML_title = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Fully_Extracted_Data/ML_processed1.csv')

In [5]:
Data_Sci_Data = pd.concat([Data_Sci,Data_Sci_title['organization_title_1']], axis=1)
Data_Eng_Data = pd.concat([Data_Eng,Data_Eng_title['organization_title_1']], axis=1)
ML_Data = pd.concat([ML_eng,ML_title['organization_title_1']], axis=1)

In [6]:
# Drop column
Data_Sci_Data = Data_Sci_Data.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)
Data_Eng_Data = Data_Eng_Data.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)
ML_Data = ML_Data.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)

In [7]:
def check_Avalaiblity(datset,x="Software Engineer"):
  countpos = 0
  countneg = 0
  other_labels = []
  label = []
  label_name = []
  # goimg through the datset
  for i in datset['organization_title_1']:
    # making sure all values are string
    st = str(i)
    # cheking the sub string exisits in string
    if x in st:
      # if sting is available adding 1 to label
      label.append(1)
      label_name.append(st)
      # Keep count
      countpos += 1
    else:
      # if sting is not available adding 0 to label
      label.append(0)
      # adding the values of other string values to the other_label
      other_labels.append(st)
      countneg += 1
  return label, other_labels, label_name, countpos, countneg

In [8]:
Data_Sci_Data.shape

(428, 10)

In [9]:
Data_Eng_Data.shape

(478, 10)

In [10]:
ML_Data.shape

(631, 10)

In [11]:
ML_Data['organization_title_1']

0                          AI/ML Engineer
1      Machine Learning Engineer - Intern
2               Machine Learning Engineer
3                          Data Scientist
4               Data Scientist Consultant
                      ...
626                        AI/ML Engineer
627         ML Engineer | Computer Vision
628                        AI/ML Engineer
629       Business Intelligence Developer
630          Junior ML Engineer at Omdena
Name: organization_title_1, Length: 631, dtype: object

In [12]:
label, other_labels, label_name, countpos, countneg = check_Avalaiblity(ML_Data,"Machine Learning Engineer")

In [13]:
countpos

68

In [18]:
ML_Data['label']=label

In [19]:
ML_Data_1 = ML_Data[ML_Data['label']==1]

In [20]:
ML_Data_1.shape

(68, 11)

In [ ]:
ML_Data_1

In [22]:
ML_Data_check1 = ML_Data[ML_Data['label']==0]

In [23]:
ML_Data_check1.shape

(563, 11)

In [24]:
label2, other_labels2, label_name2, countpos2, countneg2 = check_Avalaiblity(ML_Data_check1,"ML Engineer")

In [25]:
countpos2

260

In [26]:
ML_Data_check1['label']=label2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
ML_Data_2 = ML_Data_check1[ML_Data_check1['label']==1]

In [28]:
ML_Data_2.shape

(260, 11)

In [ ]:
ML_Data_2

In [30]:
ML_Data_check2 = ML_Data_check1[ML_Data_check1['label']==0]

In [31]:
ML_Data_check2.shape

(303, 11)

In [35]:
label3, other_labels3, label_name3, countpos3, countneg3 = check_Avalaiblity(ML_Data_check2,"AI")

In [36]:
countpos3

29

In [37]:
label_name3

['AI Engineer',
 'Junior Web developer and AI and ML Consultant',
 'AI Engineer',
 'Software and AI Engineer',
 'AI Engineer',
 'Engineer - Technology (AI/ML)',
 'Senior AI and Software Developer',
 'AI/ML Rotational Engineer',
 'Staff Software Engineer (AI/ML)',
 'AI lead',
 'AI ML engineer',
 'AI/ML engineer',
 'DS/AI/ML/Big Data Architect',
 'Lead ML Developer - AI Labs',
 'Software Engineer (AI/ML)',
 'AI and ML engineer',
 'PI & AI Event Ambassador',
 'AI/ML Software Engineer',
 'AI Specialist',
 'Software Engineer (AI/ML)',
 'Software Engineer (ML/AI)',
 'Software Engineer(AI/ML)',
 'Senior Lead Engineer AI/ML',
 'Software Engineer - Python, AI and ML',
 'R&D Engineer AI/ML',
 'Associate Software Engineer AI/ML',
 'AI Engineer',
 'Associate Software Engineer (AI/ML)',
 'Senior AI/ML Development Engineer ']

In [38]:
ML_Data_check2['label']=label3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
ML_Data_3 = ML_Data_check2[ML_Data_check2['label']==1]

In [40]:
ML_Data_3.shape

(29, 11)

In [41]:
ML_Data_check3 = ML_Data_check2[ML_Data_check2['label']==0]

In [42]:
ML_Data_check3.shape

(274, 11)

In [43]:
label4, other_labels4, label_name4, countpos4, countneg4 = check_Avalaiblity(ML_Data_check3,"ML")

In [44]:
countpos4

70

In [45]:
label_name4

['Software Engineer (ML)',
 'CV & ML Research Engineer ',
 'ML Applications Engineer',
 'ML engineer',
 'ML engineer',
 'Strategic Cloud Engineer - ML',
 'Software Engineer (VR & ML)',
 'senior ML engineer (VP)',
 'ML Software Engineer',
 'ML Software Engineer',
 'Consultant ML',
 'Software Engineer, Data/ML',
 'ML Firmware Engineer',
 'ML Research Engineer',
 'Sr. ML & Data Engineer',
 'ML Infrastructure Engineer',
 'ML & Software Engineer',
 'ML Research Engineer',
 'ML Model Engineer',
 'Cloud Engineer- ML specialist',
 'ML Support Engineer',
 'Staff ML engineer',
 'ML SOFTWARE ENGINEER',
 'Software Engineer - ML Level I',
 'ML Vision Engineer',
 'Principal ML engineer',
 'ML Ops Engineer',
 'ML & NLP Engineer',
 'ML Ops Engineer',
 'Junior ML engineer',
 'ML Tech Lead',
 'ML Software Engineer',
 'ML and Data Engineer',
 'ML Research Engineer',
 'ML ENGINEER',
 'ML Software Engineer',
 'Senior ML/CV Engineer',
 'ML Application Engineer',
 'ML & Data Science Engineer',
 'Data and ML engineer',
 'Software Engineer (Big Data & ML)',
 'Junior ML engineer',
 'Software Engineer (ML)',
 'Software Engineer ML',
 'Software Engineer ML',
 'Video ML Algorithm Engineer',
 'ML Enginner at Delta Apps(Intern)',
 'Senior ML Software Engineer II',
 'Senior ML Software Engineer',
 'ML Entrepreneur / Product Owner',
 'ML Product Engineer',
 'ML Lead',
 'Bioinformatics (ML) Engineer',
 'ML engineer intern',
 'Senior ML Data Engineer',
 'ML Open Source Engineer',
 'ML Software Engineer 2 - Application Development - ML/DL',
 'Software Engineer/ML',
 'Staff ML Software Engineer',
 'Sr. ML Data Engineer',
 'System Engineer | ML developer',
 'ML Infrastructure Engineer',
 'Senior ML engineer',
 'Software Engineer, ML sys',
 'Software Engineer (ML)',
 'ML Research Engineer',
 'Software Engineer (ML)',
 'CV/ML engineer',
 'ML Perf Engineer',
 'Senior software engineer | ML']

In [46]:
ML_Data_check3['label']=label4

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [47]:
ML_Data_4 = ML_Data_check3[ML_Data_check3['label']==1]

In [48]:
ML_Data_4.shape

(70, 11)

In [49]:
ML_Data_check4 = ML_Data_check3[ML_Data_check3['label']==0]

In [50]:
ML_Data_check4.shape

(204, 11)

In [51]:
ML_Data_check4['organization_title_1']

3                                        Data Scientist
4                             Data Scientist Consultant
6                                     Software Engineer
7                               Machine Learning Intern
9                                         Vice Chairman
                             ...
595                                            Engineer
597              Senior Quantitative Research Scientist
601    Senior Engineer - Data Engineering and Analytics
625                                        NLP Engineer
629                     Business Intelligence Developer
Name: organization_title_1, Length: 204, dtype: object

In [63]:
label5, other_labels5, label_name5, countpos5, countneg5 = check_Avalaiblity(ML_Data_check4,"Machine")

In [64]:
countpos5

11

In [65]:
label_name5

['Machine Learning Intern',
 'Machine learning  developer ',
 'Engineer - Technology (Machine Learning)',
 'Machine Learning Research Engineer',
 'Google Developer Expert in Machine Learning',
 'Machine Learning Intern',
 'Machine Learning Solutions Engineer',
 'Machine Learning Researcher',
 'Machine Learning Scientist',
 'Software Engineer, Machine Learning',
 'Machine learning engineer']

In [66]:
ML_Data_check4['label']=label5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [67]:
ML_Data_5 = ML_Data_check4[ML_Data_check4['label']==1]

In [68]:
ML_Data_5.shape

(11, 11)

In [69]:
ML_Data_check5 = ML_Data_check4[ML_Data_check4['label']==0]

In [70]:
ML_Data_check5.shape

(193, 11)

In [79]:
label6, other_labels6, label_name6, countpos6, countneg6 = check_Avalaiblity(ML_Data_check5,"NLP")

In [80]:
countpos6

1

In [81]:
other_labels6

['Data Scientist',
 'Data Scientist Consultant',
 'Software Engineer',
 'Vice Chairman',
 'Software Engineer',
 'Software Engineer',
 'Software Engineer',
 'Junior Software Engineer',
 'Senior Data Scientist',
 'Associate Data Scientist',
 'Senior Data Engineer',
 'Intern',
 'Full Stack Engineer',
 'Research Assistant',
 'Data Scientist',
 'Associate Data Engineer',
 'Data Scientist',
 'Senior Software Engineer',
 'Software Engineer  - BigData and Data science ',
 'Data Scientist',
 'Data Science Engineer',
 'Intern Software Engineer',
 'Scientist 3 Data Science',
 'R&D Data Scientist',
 'BI Data Engineer',
 'Senior Data Scientist',
 'System Engineer',
 'Artificial Intelligence Developer',
 'University Lecturer',
 'Data Engineering Intern',
 'Insurance Agent',
 'Data Scientist',
 'Software Engineer',
 'Data Scientist',
 'Software Engineer',
 'Chief Data Scientist',
 'Senior Software Engineer',
 'Application Engineer',
 'Treasurer',
 'Data Scientist',
 'Senior Data Analyst',
 'Engineer - Technology',
 'Software Developer',
 'SDE -3',
 'Intern',
 'Web Developer',
 'Associate Manager - TA',
 'Data Science Intern',
 'Technical Lead',
 'Engineer-Big Data and Data Science',
 'Lead Engineer',
 'Associate Engineer - Technology',
 'Software Engineer',
 'Senior Software Engineer',
 'Software Engineer Intern',
 'Tech Speaker',
 'Technical Lead',
 'Data Engineer',
 'Data Analyst',
 'Python Developer',
 'Artificial Intelligence Applications Development Manager ',
 'Data Scientist',
 'System Engineer',
 'Co-Founder',
 'Data Science Specialist',
 'Analyst',
 'Media Assistant',
 'Podcast Host',
 'Bioinformatics Developer',
 'Senior Data Scientist',
 'Ml engineer',
 'Data and Applied Scientist',
 'Advisor Data Science',
 'Sr. Software Engineer',
 'Software Engineer Intern',
 'Researcher',
 'Software Intern',
 'Co-Founder and CTO',
 'Technical Specialist',
 'Senior Research And Development Engineer',
 'Data Engineer',
 'Project Engineer',
 'Applied Data Scientist',
 'Senior Technical Lead',
 'Technical Management Trainee',
 'Python and Data Analysis Instructor',
 'Software Engineer',
 'Full-stack Developer',
 'Network Infrestructure Manager',
 'Software Developer',
 'Microsoft Learn Student Ambassadors- Beta',
 'Engineer',
 'Software Development Intern',
 'Architect - Big Data/ Data Science ',
 'MlOps Trainee',
 'Senior Systems Engineer',
 'Research Scientist',
 'Student',
 '대리',
 'Data Scientist 2',
 'Graduate Teaching Assistant',
 'Data Scientist',
 'Co-founder and Co-host',
 'Business Analysts',
 'Automation Architect (Senior Test Manager)',
 'Research Internship',
 'Embedded Software Trainee - Siemens EDA Academy of Excellence',
 'Engineer',
 'nan',
 'Software Engineer Intern',
 'Engineer ',
 'Member',
 'Writer',
 'nan',
 'Data Analyst Engineer',
 'Data Scientist',
 'Senior Software Engineer',
 'Map Core Tech Specialist',
 'Software Engineer Intern',
 'Associate Software Engineer',
 'Technical Lead',
 'Principal Data Scientist',
 'Software Developer 2',
 'Software Engineer',
 'Data Science mentor',
 'Data Science Engineer',
 'Senior Software Engineer',
 'Engineer',
 'Lead R&D Engineer',
 'Senior Engineer',
 'Associate Data Engineer',
 'GCP Data Engineer',
 'Senior Software Engineer',
 'Senior Software Engineer',
 'Senior Software Engineer',
 'Former Instructor',
 'Executive Engineering - Converged Charging Operations',
 'Deputy Director Of Development',
 'Backend Software engineer',
 'Data Scientist',
 'Data Scientist',
 'Staff Data Scientist',
 'Data Analyst',
 'Computer Vision Software Engineer',
 'Software Engineer',
 'Kaggle Grandmaster',
 'Head of Curriculum, Data',
 'Lead Data Scientist',
 'Software Engineer',
 'Software Engineering Consultant',
 'STEM Educator',
 'Teaching Assistant(Resident Tutor)',
 'Tutor data science',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Engineer',
 'PhD Fellow',
 "New technologies' specialist",
 'Chief Technical Head',
 'Data analytics Mentor',
 'nan',
 'Senior Engineering Manager',
 'nan',
 'Research Intern',
 'Google Developer Student Club Lead',
 'Leadership Development Internship',
 'SSr. Data Science',
 'Data Analytics Trainee',
 'Data Engineer',
 'Data Scientist',
 'nan',
 'Platform Engineer',
 'Software Engineer',
 'Software Engineer',
 'Principal Engineer',
 'Software Engineer',
 'Consultant',
 'Associate Software Engineer - Data Engineering',
 'Software Engineer',
 'Senior Software Engineer',
 'Artificial intelligence Trainer ',
 'Committee Expert Member',
 'Directeur de création communication multimédia ',
 'Data Scientist/Research Fellow/Lecturer',
 'Software Engineer, Behavior Prediction',
 'Data Scientist',
 'Senior Technical Engineer',
 'Senior Data Scientist',
 'Engineer',
 'Senior Quantitative Research Scientist',
 'Senior Engineer - Data Engineering and Analytics',
 'Business Intelligence Developer']

In [82]:
Data_ML_Pro = pd.concat([ML_Data_1,ML_Data_2,ML_Data_3,ML_Data_4,ML_Data_5],ignore_index=True)

In [85]:
# All data belog to Machine Learning Engineer Category
Data_ML_Pro.shape

(438, 11)

In [86]:
# Need to check these values
ML_Data_check5.shape

(193, 11)

In [87]:
Data_Eng_Data['organization_title_1']

0                                  Data Engineer
1                        Associate Data Engineer
2                                  Data Engineer
3                                  Data Engineer
4                                  Data Engineer
                         ...
473    Recruitment and Employer Branding Officer
474                          Senior Data Analyst
475                               Data Scientist
476               Staff Engineer - Big Data & AI
477                                Data Engineer
Name: organization_title_1, Length: 478, dtype: object

In [90]:
Data_Eng_Data.shape

(478, 10)

In [88]:
label7, other_labels7, label_name7, countpos7, countneg7 = check_Avalaiblity(Data_Eng_Data,"Data Engineer")

In [89]:
countpos7

218

In [91]:
Data_Eng_Data['label']=label7

In [92]:
DataEng_Data1 = Data_Eng_Data[Data_Eng_Data['label']==1]

In [159]:
# Data Engineer 1st grop Dataset
DataEng_Data1.shape

(218, 11)

In [94]:
DataEng_check1 = Data_Eng_Data[Data_Eng_Data['label']==0]

In [158]:
DataEng_check1.shape

(260, 11)

In [97]:
other_labels7

['Software Engineer - Data',
 'nan',
 'nan',
 'Senior Software Engineer (Data)',
 'Software Engineer-  Analytics Engineer(Data Analytics)',
 'Business Intelligence Developer',
 'Software Engineer',
 'Engineer-Big Data and Data Science',
 'Software Engineer',
 'Data Analytics Engineer',
 'Data Analyst',
 'PI & AI Event Ambassador',
 'Intern - Business Analytics',
 'nan',
 'Engineer Analytics and Data Sciences',
 'Senior Data Science Engineer',
 'Academic Tutor',
 'Data Scientist',
 'Software Engineer - Data Analytics and Insights',
 'Platform Engineer - Data Analytics & Insights',
 'Senior Engineer - Data Science ',
 'Data Warehouse Engineer',
 'Data Science Engineer',
 'Data Science Engineer',
 'Senior Data Service Engineer',
 'Senior Engineer - Big Data & Data Science',
 'Associate Technical Lead',
 'Machine Learning Engineer',
 'Senior Engineer-Data Center',
 'Lead Analytics and AI',
 'Senior Software Engineer',
 'Senior Data Network Engineer',
 'Senior Engineer : Big Data & Data Science',
 'Data Warehouse Engineer',
 'Associate Data Scientist',
 'Software Engineer  - BigData and Data science ',
 'Engineer - BI/Data Analytics',
 'IT Coordinator, Textile Engineering Student Society',
 'Software Engineer',
 'Analysis Executive',
 'Associate Data QA Engineer',
 'Data Science Engineer',
 'Data Science Engineer',
 'Analytic Engineer',
 'Software Engineer',
 'Associate Data Warehouse Engineer',
 'Architecture Consultant',
 'Software Quality Assurance Engineer',
 'Software Engineer',
 'Engineer - Enterprise Data & Middleware',
 'Software Engineer Intern',
 'Engineer - Analytics & Data Science',
 'Data Analyst',
 'Senior Engineer - Data Science',
 'Data Warehouse Engineer',
 'nan',
 'Associate Consultant',
 'Engineer',
 'Data Science Engineer',
 'Senior Data Science Engineer',
 'Data Scientist',
 'Principal Engineer',
 'Research Intern',
 'Senior Systems Engineer - Data Center',
 'Software Engineer',
 'Associate Engineer - BI/Data Science ',
 'Senior Data Analyst',
 'Software Engineer',
 'Data Scientist',
 'Software Engineer',
 'Data Science Engineer',
 'Assistant Director',
 'Senior Engineer (Big data & AI)',
 'Trainee Data Science Engineer',
 'BI Engineer/data analysis',
 'Data Analyst',
 'Business Intelligence Engineer',
 'Data Scientist',
 'Software Engineer',
 'Data Center Support Engineer',
 'Senior Software Engineer',
 'Senior Engineer, Analytics & Data Science',
 'Unit Manager - Business Intelligence & RA System',
 'Software Engineer',
 'Assistant Manager - Management Information (LCH Ltd-SwapClear & Listed Rates)',
 'Engineer',
 'Undergraduate Research Fellow',
 'Lead Engineer - Big Data',
 'Associate Software Engineer',
 'Senior Software Engineer',
 'Senior Data Science Engineer',
 'Engineer - Data Network Operations',
 'Senior Software Engineer - BI and Analytics',
 'Senior Lead R&D Engineer - Data Science',
 'Senior Software Engineer',
 'Associate Software Engineer',
 'Software Engineer',
 'Senior Software Engineer',
 'Senior Software Engineer',
 'Co-Founder / COO',
 'Graduate Research Student',
 'Associate Engineer Data Science and Analytics',
 'System Engineer',
 'AWS Community Builder',
 'Research Intern',
 'Data Scientist',
 'Data Scientist',
 'Senior Business Intelligence Consultant',
 'Data Center Support Executive ',
 'Visiting Lecturer',
 'Software Engineer',
 'Technical Lead - Web Department',
 'Data Scientist',
 'Initiate Group Vice President oGV and EwA',
 'Software Engineer',
 'Staff Engineer',
 'Vice Chairman',
 'Trainee - Full stack Developer',
 'Software Engineer - Data Science Team',
 'Cloud Consultant',
 'Salesforce Developer',
 'Senior Engineer',
 'Engineer - Data Centers',
 'Senior Software Engineer',
 'Senior Tech Lead',
 'Associate Tech Lead',
 'Software Engineer',
 'Microsoft [Vendor] Support Engineer - Microsoft SQL Server Parallel Data Warehouse ',
 'Associate Software Engineer ',
 'Senior Customer Engineer',
 'Senior Quality Assurance Analyst',
 'Systems Engineer - Enterprise Data & Middleware',
 'Engineer, Analytics and Data Science',
 'Engineer Cloud System/ Data Center Operations',
 'Senior Research And Development Engineer',
 'Software Engineering Trainee',
 'Professional Freelancer',
 'Senior Engineer - Enterprise Data and Middleware',
 'Application Support Engineer',
 'Engineer - Data Science',
 'Engineer-AI and Data Science ',
 'Network & Data Center Engineer',
 'Support Engineer',
 'Associate Software Engineer',
 'Robotic Process Automation & Data Analytics Engineer',
 'AI Engineer',
 'Technical Consultant',
 'Systems Engineer - Data Center Solutions Team ',
 'Mechanical Engineering Intern',
 'Trainee Software Engineer ',
 'Quality Assurance Engineer',
 'Application Support Engineer',
 'Software Engineer',
 'Trainee Software Engineer ',
 'Graduate Research Assistant',
 'Associate Datacenter Operations Engineer',
 'Senior Software Quality Assurance Engineer',
 'Data Science and Analytics Engineer',
 'Business Analyst',
 'Founder',
 'Engineer - Enterprise Data & Middleware',
 'Engineer',
 'Trainee UI/UX Developer , Trainee Lecturer',
 'Engineering Trainee',
 'VPN Consultant',
 'Associate Engineer  Analytics and Data Science ',
 'Software Engineer',
 'Assistant Professor',
 'Associate System Engineer',
 'Associate Engineer - BI/ Data Analytics',
 'Software Engineer',
 'Software Engineer',
 'Data Analyst',
 'Associate Software Engineer',
 'Software Engineer',
 'Senior Engineer - Data Science ',
 'Software QA Engineer',
 'Associate Software Engineer - Data Analyst',
 'Sales Engineer',
 'Associate Software Engineer',
 'Software Engineering Trainee',
 'Associate Software Engineer',
 'Quality Assurance Engineering Specialist',
 'Principal Data Scientist',
 'RPA Consultant',
 'Personalization Platform Architect',
 'Engineer - Data Science',
 'Associate Engineer - Technology',
 'Software Engineer',
 'UI/UX Engineer ',
 'Python Developer',
 'Software Engineer',
 'Software Engineer 1 - Data',
 'Software Engineer',
 'Data & Analytics Engineer',
 'Trainee Data Science',
 'Software Engineer',
 'Microsoft learn student ambassador',
 'Architect - Big Data/ Data Science ',
 'Software Engineer',
 'Software Engineer',
 'Supporting Lecturer',
 'Software Engineer',
 'Software Engineer',
 'Software Engineer',
 'Software Engineer',
 'Software Engineer',
 'Senior Software Quality Assurance Engineer',
 'Data Scientist',
 'Senior Software Engineer',
 'Product Lead - Sales Operations Centre',
 'Software Engineer',
 'Machine Learning Research Engineer',
 'Software Engineer - Big Data and Data Science',
 'Machine Learning Engineer',
 'Software Engineer',
 'Data Scientist',
 'Senior Software Engineer',
 'Technical Lead',
 'Machine Learning Engineer',
 'Software Engineer',
 'Senior System Engineer',
 'Associate Software Engineer',
 'Software Engineer',
 'Trainee Software Engineer',
 'Data Scientist',
 'Community Manager',
 'Software Engineer',
 'Intern Data Scientist',
 'Software Engineer',
 'Software Engineer',
 'Data Scientist',
 'Engineer, Business Intelligence',
 'Software Engineer Intern',
 'Machine Learning Engineer',
 'Data Scientist',
 'Application Engineer',
 'Engineer - IBM i (AS400)',
 'Associate Site Reliability Engineer',
 'Data Architect at LSEG Technology',
 'Data Science Engineer',
 'Machine Learning Engineer',
 'Associate Business Intelligence Engineer',
 'Specialist',
 'Intern Software Engineer',
 'Junior Machine Learning Engineer',
 'Data Analyst',
 'Data Analyst',
 'Software Engineer',
 'Co-Founder',
 'Data Consultant',
 'Data engineering Consultant',
 'Big data Engineer',
 'Teacher Assistant',
 'MS-SQL DBA',
 'Senior Consultant',
 'Recruitment and Employer Branding Officer',
 'Senior Data Analyst',
 'Data Scientist',
 'Staff Engineer - Big Data & AI']

In [98]:
label8, other_labels8, label_name8, countpos8, countneg8 = check_Avalaiblity(DataEng_check1,"Data Analyst")

In [99]:
countpos8

9

In [100]:
label_name8

['Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Associate Software Engineer - Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst']

In [101]:
DataEng_check1['label']=label8

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [104]:
Data_Analyst1 = DataEng_check1[DataEng_check1['label']==1]

In [121]:
# Data Analyst in DatEng Dataset
Data_Analyst1.shape

(9, 11)

In [106]:
DataEng_check2 = DataEng_check1[DataEng_check1['label']==0]

In [107]:
DataEng_check2.shape

(251, 11)

In [108]:
label9, other_labels9, label_name9, countpos9, countneg9 = check_Avalaiblity(DataEng_check2,"Data Scientist")

In [109]:
countpos9

16

In [112]:
DataEng_check2['label']=label9

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [113]:
Data_Science1 = DataEng_check2[DataEng_check2['label']==1]

In [123]:
# Data Scine 1st group in DataEng Dataset
Data_Science1.shape

(16, 11)

In [115]:
DataEng_check3 = DataEng_check2[DataEng_check2['label']==0]

In [116]:
DataEng_check3.shape

(235, 11)

In [117]:
label10, other_labels10, label_name10, countpos10, countneg10 = check_Avalaiblity(DataEng_check3,"Data Science")

In [118]:
countpos10

33

In [119]:
label_name10

['Engineer-Big Data and Data Science',
 'Engineer Analytics and Data Sciences',
 'Senior Data Science Engineer',
 'Senior Engineer - Data Science ',
 'Data Science Engineer',
 'Data Science Engineer',
 'Senior Engineer - Big Data & Data Science',
 'Senior Engineer : Big Data & Data Science',
 'Data Science Engineer',
 'Data Science Engineer',
 'Engineer - Analytics & Data Science',
 'Senior Engineer - Data Science',
 'Data Science Engineer',
 'Senior Data Science Engineer',
 'Associate Engineer - BI/Data Science ',
 'Data Science Engineer',
 'Trainee Data Science Engineer',
 'Senior Engineer, Analytics & Data Science',
 'Senior Data Science Engineer',
 'Senior Lead R&D Engineer - Data Science',
 'Associate Engineer Data Science and Analytics',
 'Software Engineer - Data Science Team',
 'Engineer, Analytics and Data Science',
 'Engineer - Data Science',
 'Engineer-AI and Data Science ',
 'Data Science and Analytics Engineer',
 'Associate Engineer  Analytics and Data Science ',
 'Senior Engineer - Data Science ',
 'Engineer - Data Science',
 'Trainee Data Science',
 'Architect - Big Data/ Data Science ',
 'Software Engineer - Big Data and Data Science',
 'Data Science Engineer']

In [124]:
DataEng_check3['label']=label10

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [125]:
Data_Science2 = DataEng_check3[DataEng_check3['label']==1]

In [127]:
# Data Scine 2nd group in DataEng Dataset
Data_Science2.shape

(33, 11)

In [128]:
DataEng_check4 = DataEng_check3[DataEng_check3['label']==0]

In [129]:
DataEng_check4.shape

(202, 11)

In [130]:
other_labels10

['Software Engineer - Data',
 'nan',
 'nan',
 'Senior Software Engineer (Data)',
 'Software Engineer-  Analytics Engineer(Data Analytics)',
 'Business Intelligence Developer',
 'Software Engineer',
 'Software Engineer',
 'Data Analytics Engineer',
 'PI & AI Event Ambassador',
 'Intern - Business Analytics',
 'nan',
 'Academic Tutor',
 'Software Engineer - Data Analytics and Insights',
 'Platform Engineer - Data Analytics & Insights',
 'Data Warehouse Engineer',
 'Senior Data Service Engineer',
 'Associate Technical Lead',
 'Machine Learning Engineer',
 'Senior Engineer-Data Center',
 'Lead Analytics and AI',
 'Senior Software Engineer',
 'Senior Data Network Engineer',
 'Data Warehouse Engineer',
 'Software Engineer  - BigData and Data science ',
 'Engineer - BI/Data Analytics',
 'IT Coordinator, Textile Engineering Student Society',
 'Software Engineer',
 'Analysis Executive',
 'Associate Data QA Engineer',
 'Analytic Engineer',
 'Software Engineer',
 'Associate Data Warehouse Engineer',
 'Architecture Consultant',
 'Software Quality Assurance Engineer',
 'Software Engineer',
 'Engineer - Enterprise Data & Middleware',
 'Software Engineer Intern',
 'Data Warehouse Engineer',
 'nan',
 'Associate Consultant',
 'Engineer',
 'Principal Engineer',
 'Research Intern',
 'Senior Systems Engineer - Data Center',
 'Software Engineer',
 'Software Engineer',
 'Software Engineer',
 'Assistant Director',
 'Senior Engineer (Big data & AI)',
 'BI Engineer/data analysis',
 'Business Intelligence Engineer',
 'Software Engineer',
 'Data Center Support Engineer',
 'Senior Software Engineer',
 'Unit Manager - Business Intelligence & RA System',
 'Software Engineer',
 'Assistant Manager - Management Information (LCH Ltd-SwapClear & Listed Rates)',
 'Engineer',
 'Undergraduate Research Fellow',
 'Lead Engineer - Big Data',
 'Associate Software Engineer',
 'Senior Software Engineer',
 'Engineer - Data Network Operations',
 'Senior Software Engineer - BI and Analytics',
 'Senior Software Engineer',
 'Associate Software Engineer',
 'Software Engineer',
 'Senior Software Engineer',
 'Senior Software Engineer',
 'Co-Founder / COO',
 'Graduate Research Student',
 'System Engineer',
 'AWS Community Builder',
 'Research Intern',
 'Senior Business Intelligence Consultant',
 'Data Center Support Executive ',
 'Visiting Lecturer',
 'Software Engineer',
 'Technical Lead - Web Department',
 'Initiate Group Vice President oGV and EwA',
 'Software Engineer',
 'Staff Engineer',
 'Vice Chairman',
 'Trainee - Full stack Developer',
 'Cloud Consultant',
 'Salesforce Developer',
 'Senior Engineer',
 'Engineer - Data Centers',
 'Senior Software Engineer',
 'Senior Tech Lead',
 'Associate Tech Lead',
 'Software Engineer',
 'Microsoft [Vendor] Support Engineer - Microsoft SQL Server Parallel Data Warehouse ',
 'Associate Software Engineer ',
 'Senior Customer Engineer',
 'Senior Quality Assurance Analyst',
 'Systems Engineer - Enterprise Data & Middleware',
 'Engineer Cloud System/ Data Center Operations',
 'Senior Research And Development Engineer',
 'Software Engineering Trainee',
 'Professional Freelancer',
 'Senior Engineer - Enterprise Data and Middleware',
 'Application Support Engineer',
 'Network & Data Center Engineer',
 'Support Engineer',
 'Associate Software Engineer',
 'Robotic Process Automation & Data Analytics Engineer',
 'AI Engineer',
 'Technical Consultant',
 'Systems Engineer - Data Center Solutions Team ',
 'Mechanical Engineering Intern',
 'Trainee Software Engineer ',
 'Quality Assurance Engineer',
 'Application Support Engineer',
 'Software Engineer',
 'Trainee Software Engineer ',
 'Graduate Research Assistant',
 'Associate Datacenter Operations Engineer',
 'Senior Software Quality Assurance Engineer',
 'Business Analyst',
 'Founder',
 'Engineer - Enterprise Data & Middleware',
 'Engineer',
 'Trainee UI/UX Developer , Trainee Lecturer',
 'Engineering Trainee',
 'VPN Consultant',
 'Software Engineer',
 'Assistant Professor',
 'Associate System Engineer',
 'Associate Engineer - BI/ Data Analytics',
 'Software Engineer',
 'Software Engineer',
 'Associate Software Engineer',
 'Software Engineer',
 'Software QA Engineer',
 'Sales Engineer',
 'Associate Software Engineer',
 'Software Engineering Trainee',
 'Associate Software Engineer',
 'Quality Assurance Engineering Specialist',
 'RPA Consultant',
 'Personalization Platform Architect',
 'Associate Engineer - Technology',
 'Software Engineer',
 'UI/UX Engineer ',
 'Python Developer',
 'Software Engineer',
 'Software Engineer 1 - Data',
 'Software Engineer',
 'Data & Analytics Engineer',
 'Software Engineer',
 'Microsoft learn student ambassador',
 'Software Engineer',
 'Software Engineer',
 'Supporting Lecturer',
 'Software Engineer',
 'Software Engineer',
 'Software Engineer',
 'Software Engineer',
 'Software Engineer',
 'Senior Software Quality Assurance Engineer',
 'Senior Software Engineer',
 'Product Lead - Sales Operations Centre',
 'Software Engineer',
 'Machine Learning Research Engineer',
 'Machine Learning Engineer',
 'Software Engineer',
 'Senior Software Engineer',
 'Technical Lead',
 'Machine Learning Engineer',
 'Software Engineer',
 'Senior System Engineer',
 'Associate Software Engineer',
 'Software Engineer',
 'Trainee Software Engineer',
 'Community Manager',
 'Software Engineer',
 'Software Engineer',
 'Software Engineer',
 'Engineer, Business Intelligence',
 'Software Engineer Intern',
 'Machine Learning Engineer',
 'Application Engineer',
 'Engineer - IBM i (AS400)',
 'Associate Site Reliability Engineer',
 'Data Architect at LSEG Technology',
 'Machine Learning Engineer',
 'Associate Business Intelligence Engineer',
 'Specialist',
 'Intern Software Engineer',
 'Junior Machine Learning Engineer',
 'Software Engineer',
 'Co-Founder',
 'Data Consultant',
 'Data engineering Consultant',
 'Big data Engineer',
 'Teacher Assistant',
 'MS-SQL DBA',
 'Senior Consultant',
 'Recruitment and Employer Branding Officer',
 'Staff Engineer - Big Data & AI']

In [131]:
label11, other_labels11, label_name11, countpos11, countneg11 = check_Avalaiblity(DataEng_check4,"Software Engineer")

In [132]:
countpos11

70

In [133]:
DataEng_check4['label']=label11

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [134]:
SoftwareEng1 = DataEng_check4[DataEng_check4['label']==1]

In [135]:
SoftwareEng1.shape

(70, 11)

In [148]:
DataEng_check5 = DataEng_check4[DataEng_check4['label']==0]

In [149]:
DataEng_check5.shape

(132, 11)

In [137]:
pd.set_option('max_rows', 99999)
pd.set_option('max_colwidth', 400)
pd.describe_option('max_colwidth')

display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 400]

In [138]:
SoftwareEng1

                                                 id  ... label
30                                deema-wattegedara  ...     1
39                      vinushan-selvaraj-49b329126  ...     1
40                       thilina-ranaweera-68627473  ...     1
43                            niranga-kandearachchi  ...     1
58                              supunprabhathperera  ...     1
94                                   akila-shashith  ...     1
117                                 budhitha-perera  ...     1
123                        nethmi-chethika-de-silva  ...     1
126                            malitha-gunawardhana  ...     1
134                      vindaya-fernando-063189184  ...     1
141                                           s-s-r  ...     1
149                  suneth-priyadarshana-329077183  ...     1
184                                     sajith1995s  ...     1
187                      sandun-madushanka-b77956b8  ...     1
191                           sachini-epa-aaa347159  ...     1
206                         ratnajothy-sangeethanan  ...     1
208                      sachin-pathirana-465808137  ...     1
212                              lakshan-gunarathna  ...     1
221                       bimali-jayathri-44626a17b  ...     1
222                                 sohaniwewelwala  ...     1
227                               kavindathennakoon  ...     1
229                                  amilakanchana0  ...     1
230                     sanduni-abenayaka-068baa189  ...     1
231                   mulitha-jayawardana-257b07164  ...     1
232                   nimodi-madubhashini-ba072a118  ...     1
234                      gagith-abeysekara-0297a05a  ...     1
246                                 sadeeshanishara  ...     1
250                                  pdweerasooriya  ...     1
261                     oshada-munasinghe-4998a5151  ...     1
267                            sathyajit-loganathan  ...     1
270                    malithi-nawarathne-2a443b18b  ...     1
279                                    venoligamage  ...     1
289                       udara-madumalka-20a7a1168  ...     1
296                      bimsara-hirushan-13b53a172  ...     1
299                                       lakshanss  ...     1
300  tharaka-hasantha-ranasingha-arachchi-343591200  ...     1
317                                     madhushanie  ...     1
324                      amila-jayasuriya-3677a0119  ...     1
326                             leslie-rathnamalala  ...     1
328                     kumudesh-kaneshan-125098142  ...     1
329                        shehan-rangana-2ab69b137  ...     1
334                    pasindu-rathnasiri-a6aa61163  ...     1
335                                        yasiru96  ...     1
336                       kavidi-kalpanie-4a9796191  ...     1
377                       swapnil-gaikwad-50a225127  ...     1
380                anantharajah-donoorkans-69019a88  ...     1
381                              neelotpalsinghgour  ...     1
382                  dilesha-kodithuwakku-a3b31115a  ...     1
386                       kasun-lakshitha-07103b13b  ...     1
389                                   arshad-fauzil  ...     1
390                                nelum-attanayake  ...     1
393                            madurangajayasooriya  ...     1
394                                shamilapathirana  ...     1
396                       chaminda-bandara-645a7aa2  ...     1
397                   dinely-welleheawage-a70124169  ...     1
399                                         thariya  ...     1
403                               kanishka-wijendra  ...     1
405                             bhanuka-dissanayake  ...     1
409                              tharushijayasekara  ...     1
412                             susampathmadhusanka  ...     1
415                  mathangi-karunakaran-740b64111  ...     1
417                     akila-sugeeshwara-18057217b  ...     1
418                                   gagana-gamage  ...     1
419                      amanda-mahawatta-51816b201  ...     1
423                           madhushika-jayasinghe  ...     1
425                                       rukshanrw  ...     1
426                    asintha-prasanjana-448536143  ...     1
430                     anojan-yoganathan-5b7abb185  ...     1
443           nimesh-buddhika-weerasinghe-8494a1109  ...     1
447                          abdul-muksith-19b35426  ...     1

[70 rows x 11 columns]

In [145]:
label12, other_labels12, label_name12, countpos12, countneg12 = check_Avalaiblity(SoftwareEng1,"Data")

In [146]:
countpos12

6

In [147]:
label_name12

['Software Engineer - Data',
 'Senior Software Engineer (Data)',
 'Software Engineer-  Analytics Engineer(Data Analytics)',
 'Software Engineer - Data Analytics and Insights',
 'Software Engineer  - BigData and Data science ',
 'Software Engineer 1 - Data']

In [150]:
SoftwareEng1['label']=label12

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [151]:
DataEng_Data2 = SoftwareEng1[SoftwareEng1['label']==1]

In [161]:
# Data Engineer 2nd grop Dataset
DataEng_Data2.shape

(6, 11)

In [153]:
SoftwareEngFull = SoftwareEng1[SoftwareEng1['label']==0]

In [209]:
# Software Engineer
SoftwareEngFull.shape

(64, 11)

In [155]:
label13, other_labels13, label_name13, countpos13, countneg13 = check_Avalaiblity(DataEng_check5,"Data")

In [156]:
countpos13

33

In [157]:
label_name13

['Data Analytics Engineer',
 'Platform Engineer - Data Analytics & Insights',
 'Data Warehouse Engineer',
 'Senior Data Service Engineer',
 'Senior Engineer-Data Center',
 'Senior Data Network Engineer',
 'Data Warehouse Engineer',
 'Engineer - BI/Data Analytics',
 'Associate Data QA Engineer',
 'Associate Data Warehouse Engineer',
 'Engineer - Enterprise Data & Middleware',
 'Data Warehouse Engineer',
 'Senior Systems Engineer - Data Center',
 'Data Center Support Engineer',
 'Lead Engineer - Big Data',
 'Engineer - Data Network Operations',
 'Data Center Support Executive ',
 'Engineer - Data Centers',
 'Microsoft [Vendor] Support Engineer - Microsoft SQL Server Parallel Data Warehouse ',
 'Systems Engineer - Enterprise Data & Middleware',
 'Engineer Cloud System/ Data Center Operations',
 'Senior Engineer - Enterprise Data and Middleware',
 'Network & Data Center Engineer',
 'Robotic Process Automation & Data Analytics Engineer',
 'Systems Engineer - Data Center Solutions Team ',
 'Associate Datacenter Operations Engineer',
 'Engineer - Enterprise Data & Middleware',
 'Associate Engineer - BI/ Data Analytics',
 'Data & Analytics Engineer',
 'Data Architect at LSEG Technology',
 'Data Consultant',
 'Data engineering Consultant',
 'Staff Engineer - Big Data & AI']

In [162]:
DataEng_check5['label']=label13

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [163]:
DataEng_Data3 = DataEng_check5[DataEng_check5['label']==1]

In [164]:
DataEng_Data3.shape

(33, 11)

In [165]:
Data_DEng_Mid = pd.concat([DataEng_Data2,DataEng_Data3],ignore_index=True)

In [166]:
Data_DEng_Mid.shape

(39, 11)

In [167]:
Data_DEng_Mid

                                id  ... label
0                deema-wattegedara  ...     1
1      vinushan-selvaraj-49b329126  ...     1
2       thilina-ranaweera-68627473  ...     1
3                   akila-shashith  ...     1
4         nethmi-chethika-de-silva  ...     1
5               neelotpalsinghgour  ...     1
6          charith-de-mel-35216336  ...     1
7             eric-xavier-0653241a  ...     1
8          eesara-bojitha-87273773  ...     1
9         charitha-gamage-36449987  ...     1
10      tharindu-liyanagunawardana  ...     1
11      gokulan-gajendran-3b1154b1  ...     1
12           piratheepan-nadarajah  ...     1
13      madura-wanasingha-a1987559  ...     1
14                        imesha-i  ...     1
15        damith-bandara-30421a146  ...     1
16     hasitha-amarasiri-b0203415b  ...     1
17     tharindu-buddhika-64513a141  ...     1
18                 hashanrubenthra  ...     1
19             krishan-nandakumara  ...     1
20                ashen-jayasinghe  ...     1
21        sahan-ranatunga-9b31816b  ...     1
22      dilan-ranasinghe-676661125  ...     1
23         kasun-de-silva-19023619  ...     1
24   nishitha-karunaratne-6368b878  ...     1
25                    sadeepadiluk  ...     1
26                       chethiyaj  ...     1
27             kavindu-jayasundara  ...     1
28         nuwan-chamara-8504b8138  ...     1
29         nusran-saleem-1a446814a  ...     1
30     sahan-samarasinghe-a38bb856  ...     1
31                      dilinamdhu  ...     1
32                pasanjayathilaka  ...     1
33     chanuka-balagalla-139592192  ...     1
34                 lohit-mohapatra  ...     1
35  anushka-hewawitharana-95948960  ...     1
36                   xiaocheng-jin  ...     1
37      himanshu-guptadataengineer  ...     1
38                piuminanayakkara  ...     1

[39 rows x 11 columns]

In [168]:
DataEng_check6 = DataEng_check5[DataEng_check5['label']==0]

In [170]:
DataEng_check6.shape

(99, 11)

In [171]:
label14, other_labels14, label_name14, countpos14, countneg14 = check_Avalaiblity(Data_DEng_Mid,"Data Center")

In [184]:
label_name14

['Senior Engineer-Data Center',
 'Senior Systems Engineer - Data Center',
 'Data Center Support Engineer',
 'Data Center Support Executive ',
 'Engineer - Data Centers',
 'Engineer Cloud System/ Data Center Operations',
 'Network & Data Center Engineer',
 'Systems Engineer - Data Center Solutions Team ']

In [172]:
countpos14

8

In [173]:
Data_DEng_Mid['label'] = label14

In [174]:
Network_Eng1 = Data_DEng_Mid[Data_DEng_Mid['label']==1]

In [176]:
# Network Engineer 1st group
Network_Eng1.shape

(8, 11)

In [177]:
Data_DEng_Mid_check = Data_DEng_Mid[Data_DEng_Mid['label']==0]

In [178]:
Data_DEng_Mid_check.shape

(31, 11)

In [181]:
label15, other_labels15, label_name15, countpos15, countneg15 = check_Avalaiblity(Data_DEng_Mid_check,"Data Network")

In [182]:
countpos15

2

In [183]:
label_name15

['Senior Data Network Engineer', 'Engineer - Data Network Operations']

In [185]:
Data_DEng_Mid_check['label'] = label15

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [186]:
Network_Eng2 = Data_DEng_Mid_check[Data_DEng_Mid_check['label']==1]

In [187]:
Network_Eng2.shape

(2, 11)

In [188]:
Data_DEng_Mid_check2 = Data_DEng_Mid_check[Data_DEng_Mid_check['label']==0]

In [189]:
Data_DEng_Mid_check2.shape

(29, 11)

In [190]:
label16, other_labels16, label_name16, countpos16, countneg16 = check_Avalaiblity(Data_DEng_Mid_check2,"Middleware")

In [191]:
countpos16

4

In [192]:
Data_DEng_Mid_check2['label']=label16

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [193]:
Network_Eng3 = Data_DEng_Mid_check2[Data_DEng_Mid_check2['label']==1]

In [194]:
Network_Eng3.shape

(4, 11)

In [195]:
Data_DEng_Mid_check3 = Data_DEng_Mid_check2[Data_DEng_Mid_check2['label']==0]

In [196]:
Data_DEng_Mid_check3.shape

(25, 11)

In [197]:
label17, other_labels17, label_name17, countpos17, countneg17 = check_Avalaiblity(Data_DEng_Mid_check3,"Datacenter")

In [198]:
countpos17

1

In [199]:
label_name17

['Associate Datacenter Operations Engineer']

In [200]:
Data_DEng_Mid_check3['label']=label17

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [201]:
Network_Eng4 = Data_DEng_Mid_check3[Data_DEng_Mid_check3['label']==1]

In [202]:
Network_Eng4.shape

(1, 11)

In [203]:
Data_DEng_Mid_check4 = Data_DEng_Mid_check3[Data_DEng_Mid_check3['label']==0]

In [204]:
Data_DEng_Mid_check4.shape

(24, 11)

In [205]:
NetworkEng_Pro = pd.concat([Network_Eng1,Network_Eng2,Network_Eng3,Network_Eng4],ignore_index=True)

In [207]:
# Network Engineer Dataset in DataEngineer
NetworkEng_Pro.shape

(15, 11)

In [ ]:
Data_DEng_Mid_check4

In [210]:
Data_Eng_Pro1 = pd.concat([DataEng_Data1,Data_DEng_Mid_check4],ignore_index=True)

In [225]:
Data_Science_Pro1_DEng = pd.concat([Data_Science1,Data_Science2],ignore_index=True)

In [211]:
Data_Eng_Pro1.shape

(242, 11)

In [216]:
Data_Analyst1.shape

(9, 11)

In [219]:
SoftwareEngFull.shape

(64, 11)

In [220]:
NetworkEng_Pro.shape

(15, 11)

In [226]:
Data_Science_Pro1_DEng.shape

(49, 11)

In [221]:
DataEng_check6.shape

(99, 11)

In [ ]:
DataEng_check6

In [228]:
label18, other_labels18, label_name18, countpos18, countneg18 = check_Avalaiblity(DataEng_check6,"Machine Learning Engineer")

In [ ]:
other_labels18

In [ ]:
countpos18

In [ ]:
label_name18

In [ ]:
other_labels18

In [233]:
DataEng_check6['label']= label18

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [234]:
MLEng_DengDatset = DataEng_check6[DataEng_check6['label']==1]

In [235]:
MLEng_DengDatset.shape

(6, 11)

In [236]:
DataEng_check7 = DataEng_check6[DataEng_check6['label']==0]

In [238]:
DataEng_check7.shape

(93, 11)

In [244]:
DataEng_check7 = DataEng_check7.dropna(subset=['organization_title_1'])

In [245]:
DataEng_check7.shape

(89, 11)

In [ ]:
DataEng_check7

In [254]:
DataEngNEw = DataEng_check7.loc[[41,68,80,197,201,204,211,236,243,364,428,451,463,464,470,413,370,219,133,69],:]

In [255]:
DataEngNEw.shape

(20, 11)

In [256]:
MLEngNEw = DataEng_check7.loc[[406,295,291],:]

In [257]:
DSciNEw = DataEng_check7.loc[[213,111],:]

In [258]:
MLEngNEw.shape

(3, 11)

In [259]:
DSciNEw.shape

(2, 11)

In [260]:
Data_Science_Pro2_DEng = pd.concat([Data_Science_Pro1_DEng,DSciNEw],ignore_index=True)

In [261]:
Data_Science_Pro2_DEng.shape

(51, 11)

In [262]:
ML_Eng_Pro1_DEng = pd.concat([MLEng_DengDatset,MLEngNEw],ignore_index=True)

In [263]:
ML_Eng_Pro1_DEng.shape

(9, 11)

In [264]:
Data_Eng_Pro2 = pd.concat([Data_Eng_Pro1,DataEngNEw],ignore_index=True)

In [265]:
Data_Eng_Pro2.shape

(262, 11)

In [267]:
label19, other_labels19, label_name19, countpos19, countneg19 = check_Avalaiblity(DataEng_check7,"Quality Assurance")

In [268]:
countpos19

6

In [269]:
label_name19

['Software Quality Assurance Engineer',
 'Senior Quality Assurance Analyst',
 'Quality Assurance Engineer',
 'Senior Software Quality Assurance Engineer',
 'Quality Assurance Engineering Specialist',
 'Senior Software Quality Assurance Engineer']

In [270]:
DataEng_check7['label']=label19

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [271]:
QA_DEng = DataEng_check7[DataEng_check7['label']==1]

In [272]:
QA_DEng.shape

(6, 11)

In [275]:
DataEng_check8 = DataEng_check7[DataEng_check7['label']==0]

In [276]:
DataEng_check8.shape

(83, 11)

In [286]:
# All data belog to Machine Learning Engineer Category from ML_Data Dataset
Data_ML_Pro.shape

(438, 11)

In [287]:
# Need to check these values from ML_Data Dataset
ML_Data_check5.shape

(193, 11)

In [288]:
# All data belog to Data Engineer Category from DEng_Data Dataset
Data_Eng_Pro2.shape

(262, 11)

In [289]:
# All data belog to Machine Learning Engineer Category from DEng_Data Dataset
ML_Eng_Pro1_DEng.shape

(9, 11)

In [290]:
# All data belog to Data Science Category from DEng_Data Dataset
Data_Science_Pro2_DEng.shape

(51, 11)

In [291]:
# All data belog to QA Category from DEng_Data Dataset
QA_DEng.shape

(6, 11)

In [292]:
# All data belog to Networking Category from DEng_Data Dataset
NetworkEng_Pro.shape

(15, 11)

In [293]:
# All data belog to Software Engineer Category from DEng_Data Dataset
SoftwareEngFull.shape

(64, 11)

In [294]:
# All data belog to Data Analytics Category from DEng_Data Dataset
Data_Analyst1.shape

(9, 11)

In [295]:
# Need to check these values from DEng_Data Dataset
DataEng_check8.shape

(83, 11)

In [ ]:
ML_Data_check5['organization_title_1']

In [297]:
label20, other_labels20, label_name20, countpos20, countneg20 = check_Avalaiblity(ML_Data_check5,"Data Scientist")

In [298]:
countpos20

30

In [305]:
ML_Data_check5['label']=label20

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [306]:
Data_Sci_1 = ML_Data_check5[ML_Data_check5['label']==1]

In [307]:
Data_Sci_1.shape

(30, 11)

In [308]:
ML_Data_check6 = ML_Data_check5[ML_Data_check5['label']==0]

In [309]:
ML_Data_check6.shape

(163, 11)

In [310]:
label21, other_labels21, label_name21, countpos21, countneg21 = check_Avalaiblity(ML_Data_check6,"Data Science")

In [311]:
countpos21

10

In [312]:
ML_Data_check6['label']=label21

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [313]:
Data_Sci_2 = ML_Data_check6[ML_Data_check6['label']==1]

In [314]:
Data_Sci_2.shape

(10, 11)

In [315]:
ML_Data_check7 = ML_Data_check6[ML_Data_check6['label']==0]

In [316]:
ML_Data_check7.shape

(153, 11)

In [317]:
label22, other_labels22, label_name22, countpos22, countneg22 = check_Avalaiblity(ML_Data_check7,"Data Engineer")

In [318]:
countpos22

12

In [319]:
ML_Data_check7['label']=label22

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [320]:
Data_Eng_1 = ML_Data_check7[ML_Data_check7['label']==1]

In [321]:
Data_Eng_1.shape

(12, 11)

In [322]:
ML_Data_check8 = ML_Data_check7[ML_Data_check7['label']==0]

In [323]:
ML_Data_check8.shape

(141, 11)

In [324]:
other_labels22

['Software Engineer',
 'Vice Chairman',
 'Software Engineer',
 'Software Engineer',
 'Software Engineer',
 'Junior Software Engineer',
 'Intern',
 'Full Stack Engineer',
 'Research Assistant',
 'Senior Software Engineer',
 'Software Engineer  - BigData and Data science ',
 'Intern Software Engineer',
 'System Engineer',
 'Artificial Intelligence Developer',
 'University Lecturer',
 'Insurance Agent',
 'Software Engineer',
 'Software Engineer',
 'Senior Software Engineer',
 'Application Engineer',
 'Treasurer',
 'Senior Data Analyst',
 'Engineer - Technology',
 'Software Developer',
 'SDE -3',
 'Intern',
 'Web Developer',
 'Associate Manager - TA',
 'Technical Lead',
 'Lead Engineer',
 'Associate Engineer - Technology',
 'Software Engineer',
 'Senior Software Engineer',
 'Software Engineer Intern',
 'Tech Speaker',
 'Technical Lead',
 'Data Analyst',
 'Python Developer',
 'Artificial Intelligence Applications Development Manager ',
 'System Engineer',
 'Co-Founder',
 'Analyst',
 'Media Assistant',
 'Podcast Host',
 'Bioinformatics Developer',
 'Ml engineer',
 'Data and Applied Scientist',
 'Sr. Software Engineer',
 'Software Engineer Intern',
 'Researcher',
 'Software Intern',
 'Co-Founder and CTO',
 'Technical Specialist',
 'Senior Research And Development Engineer',
 'Project Engineer',
 'Senior Technical Lead',
 'Technical Management Trainee',
 'Python and Data Analysis Instructor',
 'Software Engineer',
 'Full-stack Developer',
 'Network Infrestructure Manager',
 'Software Developer',
 'Microsoft Learn Student Ambassadors- Beta',
 'Engineer',
 'Software Development Intern',
 'MlOps Trainee',
 'Senior Systems Engineer',
 'Research Scientist',
 'Student',
 '대리',
 'Graduate Teaching Assistant',
 'Co-founder and Co-host',
 'Business Analysts',
 'Automation Architect (Senior Test Manager)',
 'Research Internship',
 'Embedded Software Trainee - Siemens EDA Academy of Excellence',
 'Engineer',
 'nan',
 'Software Engineer Intern',
 'Engineer ',
 'Member',
 'Writer',
 'nan',
 'Data Analyst Engineer',
 'Senior Software Engineer',
 'Map Core Tech Specialist',
 'Software Engineer Intern',
 'Associate Software Engineer',
 'Technical Lead',
 'Software Developer 2',
 'Software Engineer',
 'Senior Software Engineer',
 'Engineer',
 'Lead R&D Engineer',
 'Senior Engineer',
 'Senior Software Engineer',
 'Senior Software Engineer',
 'Senior Software Engineer',
 'Former Instructor',
 'Executive Engineering - Converged Charging Operations',
 'Deputy Director Of Development',
 'Backend Software engineer',
 'Data Analyst',
 'Computer Vision Software Engineer',
 'Software Engineer',
 'Kaggle Grandmaster',
 'Head of Curriculum, Data',
 'Software Engineer',
 'Software Engineering Consultant',
 'STEM Educator',
 'Teaching Assistant(Resident Tutor)',
 'Tutor data science',
 'PhD Fellow',
 "New technologies' specialist",
 'Chief Technical Head',
 'Data analytics Mentor',
 'nan',
 'Senior Engineering Manager',
 'nan',
 'Research Intern',
 'Google Developer Student Club Lead',
 'Leadership Development Internship',
 'Data Analytics Trainee',
 'nan',
 'Platform Engineer',
 'Software Engineer',
 'Software Engineer',
 'Principal Engineer',
 'Software Engineer',
 'Consultant',
 'Software Engineer',
 'Senior Software Engineer',
 'Artificial intelligence Trainer ',
 'Committee Expert Member',
 'Directeur de création communication multimédia ',
 'Software Engineer, Behavior Prediction',
 'Senior Technical Engineer',
 'Engineer',
 'Senior Quantitative Research Scientist',
 'NLP Engineer',
 'Business Intelligence Developer']

In [325]:
label23, other_labels23, label_name23, countpos23, countneg23 = check_Avalaiblity(ML_Data_check8,"Software Engineer")

In [326]:
countpos23

36

In [329]:
countneg23

105

In [ ]:
other_labels23

In [330]:
ML_Data_check8['label']=label23

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [331]:
Software_Eng_M = ML_Data_check8[ML_Data_check8['label']==1]

In [332]:
Software_Eng_M.shape

(36, 11)

In [333]:
ML_Data_check9 = ML_Data_check8[ML_Data_check8['label']==0]

In [ ]:
Software_Eng_M

In [335]:
MLEngNEw_MLDt = Software_Eng_M.loc[[20,86,201,249,381,395,472],:]

In [336]:
DataSciNEw_MLDt = Software_Eng_M.loc[[34,142,399],:]

In [337]:
Software_Eng_M = Software_Eng_M.drop(20)
Software_Eng_M = Software_Eng_M.drop(86)
Software_Eng_M = Software_Eng_M.drop(201)
Software_Eng_M = Software_Eng_M.drop(249)
Software_Eng_M = Software_Eng_M.drop(381)
Software_Eng_M = Software_Eng_M.drop(395)
Software_Eng_M = Software_Eng_M.drop(472)
Software_Eng_M = Software_Eng_M.drop(34)
Software_Eng_M = Software_Eng_M.drop(142)
Software_Eng_M = Software_Eng_M.drop(399)

In [338]:
Software_Eng_M.shape

(26, 11)

In [339]:
MLEngNEw_MLDt.shape

(7, 11)

In [341]:
DataSciNEw_MLDt.shape

(3, 11)

In [342]:
ML_Data_check9.shape

(105, 11)

In [345]:
ML_Data_check9 = ML_Data_check9.dropna(subset=['organization_title_1'])

In [346]:
ML_Data_check9.shape

(100, 11)

In [ ]:
ML_Data_check9['organization_title_1']

In [348]:
label24, other_labels24, label_name24, countpos24, countneg24 = check_Avalaiblity(ML_Data_check9,"Data")

In [349]:
label_name24

['Senior Data Analyst',
 'Data Analyst',
 'Data and Applied Scientist',
 'Python and Data Analysis Instructor',
 'Data Analyst Engineer',
 'Data Analyst',
 'Head of Curriculum, Data',
 'Data analytics Mentor',
 'Data Analytics Trainee']

In [353]:
ML_Data_check9['label']=label24

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [354]:
Data_Analytcs_ML1 = ML_Data_check9[ML_Data_check9['label']==1]

In [355]:
Data_Analytcs_ML1.shape

(9, 11)

In [356]:
ML_Data_check10 = ML_Data_check9[ML_Data_check9['label']==0]

In [357]:
ML_Data_check10.shape

(91, 11)

In [358]:
label25, other_labels25, label_name25, countpos25, countneg25 = check_Avalaiblity(ML_Data_check10,"Software")

In [359]:
countpos25

7

In [360]:
label_name25

['Software Developer',
 'Software Intern',
 'Software Developer',
 'Software Development Intern',
 'Embedded Software Trainee - Siemens EDA Academy of Excellence',
 'Software Developer 2',
 'Backend Software engineer']

In [361]:
ML_Data_check10['label']=label25

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [362]:
Software_Eng_M2 = ML_Data_check10[ML_Data_check10['label']==1]

In [363]:
Software_Eng_M2.shape

(7, 11)

In [364]:
ML_Data_check11 = ML_Data_check10[ML_Data_check10['label']==0]

In [365]:
ML_Data_check11.shape

(84, 11)

In [ ]:
ML_Data_check11

In [367]:
MLEngNEw_MLDt2 = ML_Data_check11.loc[[9,24,26,50,56,93,94,116,138,144,145,150,157,175,189,289,295,305,308,474,494,558,565,625],:]

In [368]:
DataSciNEw_MLDt2 = ML_Data_check11.loc[[65,136,206,210,219,280,458,479,597,629],:]

In [369]:
MLEngNEw_MLDt2.shape

(24, 11)

In [370]:
DataSciNEw_MLDt2.shape

(10, 11)

In [371]:
Data_Sci_1.shape

(30, 11)

In [372]:
Data_Sci_2.shape

(10, 11)

In [373]:
Data_Eng_1.shape

(12, 11)

In [374]:
Software_Eng_M.shape

(26, 11)

In [375]:
MLEngNEw_MLDt.shape

(7, 11)

In [376]:
DataSciNEw_MLDt.shape

(3, 11)

In [377]:
Data_Analytcs_ML1.shape

(9, 11)

In [378]:
Software_Eng_M2.shape

(7, 11)

In [379]:
MLEngNEw_MLDt2.shape

(24, 11)

In [380]:
DataSciNEw_MLDt2.shape

(10, 11)

In [381]:
Data_Science_Pro1_ML = pd.concat([Data_Sci_1,Data_Sci_2,DataSciNEw_MLDt,DataSciNEw_MLDt2],ignore_index=True)

In [383]:
Software_Eng_Pro1_ML = pd.concat([Software_Eng_M,Software_Eng_M2],ignore_index=True)

In [386]:
ML_Eng_Pro1_ML = pd.concat([MLEngNEw_MLDt,MLEngNEw_MLDt2],ignore_index=True)

In [391]:
# All data belog to Machine Learning Engineer Category from ML_Data Dataset
Data_ML_Pro.shape

(438, 11)

In [392]:
# All data belog to Data Science Category from ML_Data Dataset
Data_Science_Pro1_ML.shape

(53, 11)

In [393]:
# All data belog to Software Engineer Category from ML_Data Dataset
Software_Eng_Pro1_ML.shape

(33, 11)

In [394]:
# All data belog to Machine Learning Engineer small Category from ML_Data Dataset
ML_Eng_Pro1_ML.shape

(31, 11)

In [395]:
# All data belog to Data Analytics Category from ML_Data Dataset
Data_Analytcs_ML1.shape

(9, 11)

In [396]:
# All data belog to Data Engineer Category from ML_Data Dataset
Data_Eng_1.shape

(12, 11)

In [397]:
# All data belog to Data Engineer Category from DEng_Data Dataset
Data_Eng_Pro2.shape

(262, 11)

In [398]:
# All data belog to Machine Learning Engineer Category from DEng_Data Dataset
ML_Eng_Pro1_DEng.shape

(9, 11)

In [399]:
# All data belog to Data Science Category from DEng_Data Dataset
Data_Science_Pro2_DEng.shape

(51, 11)

In [400]:
# All data belog to QA Category from DEng_Data Dataset
QA_DEng.shape

(6, 11)

In [401]:
# All data belog to Networking Category from DEng_Data Dataset
NetworkEng_Pro.shape

(15, 11)

In [402]:
# All data belog to Software Engineer Category from DEng_Data Dataset
SoftwareEngFull.shape

(64, 11)

In [403]:
# All data belog to Data Analytics Category from DEng_Data Dataset
Data_Analyst1.shape

(9, 11)

In [404]:
# Need to check these values from DEng_Data Dataset
DataEng_check8.shape

(83, 11)

In [406]:
ML_Eng_Full_Data = pd.concat([Data_ML_Pro,ML_Eng_Pro1_ML,ML_Eng_Pro1_DEng],ignore_index=True)

In [407]:
ML_Eng_Full_Data.shape

(478, 11)

In [408]:
Data_Eng_Full_Data = pd.concat([Data_Eng_1,Data_Eng_Pro2],ignore_index=True)

In [409]:
Data_Eng_Full_Data.shape

(274, 11)

In [410]:
Data_Sci_Full_Data = pd.concat([Data_Science_Pro1_ML,Data_Science_Pro2_DEng],ignore_index=True)

In [411]:
Data_Sci_Full_Data.shape

(104, 11)

In [412]:
Software_Full_Data = pd.concat([Software_Eng_Pro1_ML,SoftwareEngFull],ignore_index=True)

In [413]:
Software_Full_Data.shape

(97, 11)

In [414]:
Data_Analtics_Full_Data = pd.concat([Data_Analytcs_ML1,Data_Analyst1],ignore_index=True)

In [415]:
Data_Analtics_Full_Data.shape

(18, 11)

In [416]:
QA_DEng.shape

(6, 11)

In [417]:
NetworkEng_Pro.shape

(15, 11)

In [420]:
ML_Eng_Full_Data.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/DataSci_ML_DataEng/ML_full.csv')

In [421]:
Data_Eng_Full_Data.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/DataSci_ML_DataEng/DEng_full.csv')

In [422]:
Data_Sci_Full_Data.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/DataSci_ML_DataEng/DSci_full.csv')

In [423]:
Software_Full_Data.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/DataSci_ML_DataEng/Software_full.csv')

In [424]:
Data_Analtics_Full_Data.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/DataSci_ML_DataEng/DAnaly_full.csv')

In [425]:
QA_DEng.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/DataSci_ML_DataEng/QA_full.csv')

In [426]:
NetworkEng_Pro.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/DataSci_ML_DataEng/NET_full.csv')