<a href="https://colab.research.google.com/github/farookfazni/AI-to-Predict-Career-Path/blob/master/DatScien_MLEng_DataEngineer2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
Data_Sci = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Cleaned_Data_Step1/DSci_processed1.csv')
Data_Sci_title = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Fully_Extracted_Data/DSci_processed1.csv')

In [3]:
Data_Sci_Data = pd.concat([Data_Sci,Data_Sci_title['organization_title_1']], axis=1)
Data_Sci_Data = Data_Sci_Data.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)

In [4]:
def check_Avalaiblity(datset,x="Software Engineer"):
  countpos = 0
  countneg = 0
  other_labels = []
  label = []
  label_name = []
  # goimg through the datset
  for i in datset['organization_title_1']:
    # making sure all values are string
    st = str(i)
    # cheking the sub string exisits in string
    if x in st:
      # if sting is available adding 1 to label
      label.append(1)
      label_name.append(st)
      # Keep count
      countpos += 1
    else:
      # if sting is not available adding 0 to label
      label.append(0)
      # adding the values of other string values to the other_label
      other_labels.append(st)
      countneg += 1
  return label, other_labels, label_name, countpos, countneg

In [5]:
Data_Sci_Data.shape

(428, 10)

In [6]:
Data_Sci_Data['organization_title_1']

0      Linux Kernel Bug Fixing Mentee
1                       Web Developer
2                   Software Engineer
3                              Editor
4                   Event Coordinator
                    ...
423                    Data Scientist
424                    Data Scientist
425     Global Medical Data Scientist
426                    Data Scientist
427             Senior Data Scientist
Name: organization_title_1, Length: 428, dtype: object

In [7]:
label, other_labels, label_name, countpos, countneg = check_Avalaiblity(Data_Sci_Data,"Data Scientist")

In [8]:
countpos

287

In [10]:
countneg

141

In [11]:
other_labels

['Linux Kernel Bug Fixing Mentee',
 'Web Developer',
 'Software Engineer',
 'Editor',
 'Event Coordinator',
 'Blogger',
 'Senior Consultant',
 'nan',
 'nan',
 'nan',
 'Visiting Instructor',
 'Data Scienctist',
 'Software Engineer',
 'Senior Data Engineer',
 'Data Engineer',
 'Senior Engineer - Data Science ',
 'Head of Operations - Data Engineering & Artificial Intelligence',
 'Manager - Data Science',
 'Associate Technical Lead',
 'Visiting Lecturer',
 'Intern software developer',
 'Senior Business Analyst',
 'Insights Analyst',
 'Data Analyst',
 'Associate',
 'Associate Engineer - BI/Data Science ',
 'Data Science Engineer',
 'Data Engineer',
 'Software Engineer',
 'Data Engineer',
 'Data Engineer',
 'Data Analyst',
 'Acedemic Instructor ',
 'Associate Architect - Data Engineering',
 'Associate Tech Lead, Data Science & Engineering',
 'Senior Analyst Machine learning and AI',
 'Assistant Manager - Data Analytics',
 'Trainee Data Engineer',
 'Business Analyst (Corporate Affairs, Data & MI/BI)',
 'Visiting Lecturer',
 'Test Analyst',
 'Consultant - Data Science',
 'Trainee data scientist',
 'Lecturer',
 'Director/ Faculty of Information Technology Research Unit (ITRU)',
 'Staff Scientist',
 'Software Engineer',
 'Artificial Intelligence Applications Development Manager ',
 'AI Engineer',
 'Architect Data Science & Engineering ',
 'Deputy General Manager',
 'Software Engineer',
 'Product Analyst',
 'Head of Solutions Engineering (Production Software)',
 'Talent Acquisition Specialist',
 'Associate Professional Software Engineer',
 'Trainee Decision Scientist',
 'Data Analyst',
 'Cloud Data and AI Lead (Customer Engineer for Google Cloud)',
 'Business Data Analyst',
 'nan',
 'Instructor',
 'Machine Learning Scientist',
 'Business Development Executive',
 'Director Of Engineering',
 'Data Scienctist ',
 'Data scienctist at NSTP NUST ISB at Orel Vision ',
 'Associate Data Engineer',
 'Senior Data Engineer',
 'Senior Analyst',
 'Data and Applied Scientist',
 'Data Science Consultant',
 'Machine Learning Engineer',
 'Research Engineer',
 'AI Developer',
 'Quality Analytics Specialist',
 'Process Executive - Business Intelligence',
 'Consultant ',
 'Machine Learning Engineer',
 'Visiting Lecturer',
 'Subject Matter Expert',
 'Senior Business Analyst',
 'Senior Software Engineer',
 'Application Development Associate',
 'Data Analyst',
 'Contributor',
 'Senior Business Analyst',
 'Data Engineer',
 'Associate Technical Specialist - Analytics Engineering (Data Analytics/Data Science)',
 'AI/ML Engineer',
 'Assistant Manager',
 'Machine Learning Engineer',
 'Decision Scientist',
 'Team Lead (Data Science)',
 'Decision Scientist',
 'Senior Software Engineer',
 'AI/ML Engineer',
 'Analyst - Risk Management ll',
 'Data & Applied Scientist',
 'Co-Founder',
 'Machine Learning Engineer',
 'Technical Writer',
 'Co-Founder',
 'Product Analyst I',
 'Data Scienctist and Business Analytics',
 'Software Engineer',
 'Machine Learning Engineer',
 'Trainee Decision Scientist',
 'Machine Learning Engineer',
 'Founder',
 'Data Analyst',
 'Research Assistant',
 'Data and Applied Scientist 2',
 'Senior Consultant(AI)',
 'Business Analyst',
 'Senior Pricing Analyst',
 'System Analyst',
 'Deep Learning Engineer',
 'Senior Business Analyst',
 'Decision Scientist',
 'Associate Technical Lead - AI',
 'Data Engineer',
 'Consultant, Advanced Analytics',
 'Digital Marketing Manager',
 'Decision Scientist',
 'Trainee decision scientist',
 'Trainee Decision Scientist ',
 'Software Trainee',
 'Teaching Assistant',
 'Manager',
 'Data Analyst',
 'Data Analyst',
 'Associate Data scientist',
 'Angel investor',
 'Data Science Analyst',
 'Consultant - Data Science/Advanced Analytics',
 'Data Science Analyst',
 'GCP ML Engineer',
 'Local Chapter Lead',
 'Data Engineer',
 'nan']

In [12]:
Data_Sci_Data['label'] = label

In [13]:
DataScience1 = Data_Sci_Data[Data_Sci_Data['label']==1]

In [14]:
DataScience1.shape

(287, 11)

In [15]:
DataSci_Check = Data_Sci_Data[Data_Sci_Data['label']==0]

In [16]:
DataSci_Check.shape

(141, 11)

In [17]:
label2, other_labels2, label_name2, countpos2, countneg2 = check_Avalaiblity(DataSci_Check,"Machine Learning Engineer")

In [18]:
countpos2

6

In [22]:
DataSci_Check['label'] = label2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
MAchineLearning1 = DataSci_Check[DataSci_Check['label']==1]

In [24]:
MAchineLearning1.shape

(6, 11)

In [25]:
DataSci_Check2 = DataSci_Check[DataSci_Check['label']==0]

In [26]:
DataSci_Check2.shape

(135, 11)

In [27]:
label3, other_labels3, label_name3, countpos3, countneg3 = check_Avalaiblity(DataSci_Check2,"ML Engineer")

In [28]:
countpos3

3

In [29]:
label_name3

['AI/ML Engineer', 'AI/ML Engineer', 'GCP ML Engineer']

In [30]:
DataSci_Check2['label'] = label3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [31]:
MAchineLearning2 = DataSci_Check2[DataSci_Check2['label']==1]

In [32]:
MAchineLearning2.shape

(3, 11)

In [33]:
DataSci_Check3 = DataSci_Check2[DataSci_Check2['label']==0]

In [35]:
DataSci_Check3.shape

(132, 11)

In [36]:
label4, other_labels4, label_name4, countpos4, countneg4 = check_Avalaiblity(DataSci_Check3,"AI")

In [37]:
countpos4

6

In [38]:
label_name4

['Senior Analyst Machine learning and AI',
 'AI Engineer',
 'Cloud Data and AI Lead (Customer Engineer for Google Cloud)',
 'AI Developer',
 'Senior Consultant(AI)',
 'Associate Technical Lead - AI']

In [39]:
DataSci_Check3['label'] = label4

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [40]:
MAchineLearning3 = DataSci_Check3[DataSci_Check3['label']==1]

In [41]:
MAchineLearning3.shape

(6, 11)

In [42]:
DataSci_Check4 = DataSci_Check3[DataSci_Check3['label']==0]

In [43]:
DataSci_Check4.shape

(126, 11)

In [44]:
other_labels4

['Linux Kernel Bug Fixing Mentee',
 'Web Developer',
 'Software Engineer',
 'Editor',
 'Event Coordinator',
 'Blogger',
 'Senior Consultant',
 'nan',
 'nan',
 'nan',
 'Visiting Instructor',
 'Data Scienctist',
 'Software Engineer',
 'Senior Data Engineer',
 'Data Engineer',
 'Senior Engineer - Data Science ',
 'Head of Operations - Data Engineering & Artificial Intelligence',
 'Manager - Data Science',
 'Associate Technical Lead',
 'Visiting Lecturer',
 'Intern software developer',
 'Senior Business Analyst',
 'Insights Analyst',
 'Data Analyst',
 'Associate',
 'Associate Engineer - BI/Data Science ',
 'Data Science Engineer',
 'Data Engineer',
 'Software Engineer',
 'Data Engineer',
 'Data Engineer',
 'Data Analyst',
 'Acedemic Instructor ',
 'Associate Architect - Data Engineering',
 'Associate Tech Lead, Data Science & Engineering',
 'Assistant Manager - Data Analytics',
 'Trainee Data Engineer',
 'Business Analyst (Corporate Affairs, Data & MI/BI)',
 'Visiting Lecturer',
 'Test Analyst',
 'Consultant - Data Science',
 'Trainee data scientist',
 'Lecturer',
 'Director/ Faculty of Information Technology Research Unit (ITRU)',
 'Staff Scientist',
 'Software Engineer',
 'Artificial Intelligence Applications Development Manager ',
 'Architect Data Science & Engineering ',
 'Deputy General Manager',
 'Software Engineer',
 'Product Analyst',
 'Head of Solutions Engineering (Production Software)',
 'Talent Acquisition Specialist',
 'Associate Professional Software Engineer',
 'Trainee Decision Scientist',
 'Data Analyst',
 'Business Data Analyst',
 'nan',
 'Instructor',
 'Machine Learning Scientist',
 'Business Development Executive',
 'Director Of Engineering',
 'Data Scienctist ',
 'Data scienctist at NSTP NUST ISB at Orel Vision ',
 'Associate Data Engineer',
 'Senior Data Engineer',
 'Senior Analyst',
 'Data and Applied Scientist',
 'Data Science Consultant',
 'Research Engineer',
 'Quality Analytics Specialist',
 'Process Executive - Business Intelligence',
 'Consultant ',
 'Visiting Lecturer',
 'Subject Matter Expert',
 'Senior Business Analyst',
 'Senior Software Engineer',
 'Application Development Associate',
 'Data Analyst',
 'Contributor',
 'Senior Business Analyst',
 'Data Engineer',
 'Associate Technical Specialist - Analytics Engineering (Data Analytics/Data Science)',
 'Assistant Manager',
 'Decision Scientist',
 'Team Lead (Data Science)',
 'Decision Scientist',
 'Senior Software Engineer',
 'Analyst - Risk Management ll',
 'Data & Applied Scientist',
 'Co-Founder',
 'Technical Writer',
 'Co-Founder',
 'Product Analyst I',
 'Data Scienctist and Business Analytics',
 'Software Engineer',
 'Trainee Decision Scientist',
 'Founder',
 'Data Analyst',
 'Research Assistant',
 'Data and Applied Scientist 2',
 'Business Analyst',
 'Senior Pricing Analyst',
 'System Analyst',
 'Deep Learning Engineer',
 'Senior Business Analyst',
 'Decision Scientist',
 'Data Engineer',
 'Consultant, Advanced Analytics',
 'Digital Marketing Manager',
 'Decision Scientist',
 'Trainee decision scientist',
 'Trainee Decision Scientist ',
 'Software Trainee',
 'Teaching Assistant',
 'Manager',
 'Data Analyst',
 'Data Analyst',
 'Associate Data scientist',
 'Angel investor',
 'Data Science Analyst',
 'Consultant - Data Science/Advanced Analytics',
 'Data Science Analyst',
 'Local Chapter Lead',
 'Data Engineer',
 'nan']

In [45]:
label5, other_labels5, label_name5, countpos5, countneg5 = check_Avalaiblity(DataSci_Check4,"Data Science")

In [46]:
countpos5

13

In [53]:
other_labels5

['Linux Kernel Bug Fixing Mentee',
 'Web Developer',
 'Software Engineer',
 'Editor',
 'Event Coordinator',
 'Blogger',
 'Senior Consultant',
 'nan',
 'nan',
 'nan',
 'Visiting Instructor',
 'Data Scienctist',
 'Software Engineer',
 'Senior Data Engineer',
 'Data Engineer',
 'Head of Operations - Data Engineering & Artificial Intelligence',
 'Associate Technical Lead',
 'Visiting Lecturer',
 'Intern software developer',
 'Senior Business Analyst',
 'Insights Analyst',
 'Data Analyst',
 'Associate',
 'Data Engineer',
 'Software Engineer',
 'Data Engineer',
 'Data Engineer',
 'Data Analyst',
 'Acedemic Instructor ',
 'Associate Architect - Data Engineering',
 'Assistant Manager - Data Analytics',
 'Trainee Data Engineer',
 'Business Analyst (Corporate Affairs, Data & MI/BI)',
 'Visiting Lecturer',
 'Test Analyst',
 'Trainee data scientist',
 'Lecturer',
 'Director/ Faculty of Information Technology Research Unit (ITRU)',
 'Staff Scientist',
 'Software Engineer',
 'Artificial Intelligence Applications Development Manager ',
 'Deputy General Manager',
 'Software Engineer',
 'Product Analyst',
 'Head of Solutions Engineering (Production Software)',
 'Talent Acquisition Specialist',
 'Associate Professional Software Engineer',
 'Trainee Decision Scientist',
 'Data Analyst',
 'Business Data Analyst',
 'nan',
 'Instructor',
 'Machine Learning Scientist',
 'Business Development Executive',
 'Director Of Engineering',
 'Data Scienctist ',
 'Data scienctist at NSTP NUST ISB at Orel Vision ',
 'Associate Data Engineer',
 'Senior Data Engineer',
 'Senior Analyst',
 'Data and Applied Scientist',
 'Research Engineer',
 'Quality Analytics Specialist',
 'Process Executive - Business Intelligence',
 'Consultant ',
 'Visiting Lecturer',
 'Subject Matter Expert',
 'Senior Business Analyst',
 'Senior Software Engineer',
 'Application Development Associate',
 'Data Analyst',
 'Contributor',
 'Senior Business Analyst',
 'Data Engineer',
 'Assistant Manager',
 'Decision Scientist',
 'Decision Scientist',
 'Senior Software Engineer',
 'Analyst - Risk Management ll',
 'Data & Applied Scientist',
 'Co-Founder',
 'Technical Writer',
 'Co-Founder',
 'Product Analyst I',
 'Data Scienctist and Business Analytics',
 'Software Engineer',
 'Trainee Decision Scientist',
 'Founder',
 'Data Analyst',
 'Research Assistant',
 'Data and Applied Scientist 2',
 'Business Analyst',
 'Senior Pricing Analyst',
 'System Analyst',
 'Deep Learning Engineer',
 'Senior Business Analyst',
 'Decision Scientist',
 'Data Engineer',
 'Consultant, Advanced Analytics',
 'Digital Marketing Manager',
 'Decision Scientist',
 'Trainee decision scientist',
 'Trainee Decision Scientist ',
 'Software Trainee',
 'Teaching Assistant',
 'Manager',
 'Data Analyst',
 'Data Analyst',
 'Associate Data scientist',
 'Angel investor',
 'Local Chapter Lead',
 'Data Engineer',
 'nan']

In [48]:
DataSci_Check4['label']=label5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
 DataScience2 = DataSci_Check4[DataSci_Check4['label']==1]

In [50]:
DataScience2.shape

(13, 11)

In [51]:
 DataSci_Check5 = DataSci_Check4[DataSci_Check4['label']==0]

In [52]:
DataSci_Check5.shape

(113, 11)

In [54]:
label6, other_labels6, label_name6, countpos6, countneg6 = check_Avalaiblity(DataSci_Check5,"Data Engineer")

In [55]:
countpos6

13

In [56]:
label_name6

['Senior Data Engineer',
 'Data Engineer',
 'Head of Operations - Data Engineering & Artificial Intelligence',
 'Data Engineer',
 'Data Engineer',
 'Data Engineer',
 'Associate Architect - Data Engineering',
 'Trainee Data Engineer',
 'Associate Data Engineer',
 'Senior Data Engineer',
 'Data Engineer',
 'Data Engineer',
 'Data Engineer']

In [57]:
DataSci_Check5['label']=label6

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [58]:
DataEngineer1 = DataSci_Check5[DataSci_Check5['label']==1]

In [59]:
DataEngineer1.shape

(13, 11)

In [60]:
DataSci_Check6 = DataSci_Check5[DataSci_Check5['label']==0]

In [61]:
DataSci_Check6.shape

(100, 11)

In [62]:
label7, other_labels7, label_name7, countpos7, countneg7 = check_Avalaiblity(DataSci_Check6,"Data Analyst")

In [63]:
countpos7

8

In [64]:
label_name7

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Business Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [65]:
DataSci_Check6['label']=label7

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [66]:
DataAnalytics1 = DataSci_Check6[DataSci_Check6['label']==1]

In [67]:
DataAnalytics1.shape

(8, 11)

In [68]:
DataSci_Check7 = DataSci_Check6[DataSci_Check6['label']==0]

In [69]:
DataSci_Check7.shape

(92, 11)

In [70]:
DataSci_Check7 = DataSci_Check7.dropna(subset=['organization_title_1'])

In [71]:
DataSci_Check7.shape

(87, 11)

In [73]:
label8, other_labels8, label_name8, countpos8, countneg8 = check_Avalaiblity(DataSci_Check7,"Data scientist")

In [74]:
countpos8

1

In [77]:
pd.set_option('max_rows', 99999)
pd.set_option('max_colwidth', 400)
pd.describe_option('max_colwidth')

display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 400]

In [78]:
DataSci_Check7

                                      id  ... label
0                          asha-sulaiman  ...     0
1           hasanka-senadheera-7b9183162  ...     0
2                         sahan-poornaka  ...     0
3         thilaksi-gunathilaka-22589b199  ...     0
4                         ashani-fonseka  ...     0
5                    sithija-siriwardana  ...     0
6                               rnithees  ...     0
10                 dilantha-haputhanthri  ...     0
11                   ruban-sran-3a274a4b  ...     0
12          ramchander-chikkala-995b9385  ...     0
40                       thimaldeemantha  ...     0
51                      roy-ian-7a5b5b9a  ...     0
59    chathurdi-vibhuda-wedage-b16a7015b  ...     0
60                        karthikswasaka  ...     0
62                      chinmaysashittal  ...     0
67                         pritampatel99  ...     0
80                  madurangajayasooriya  ...     0
92         pramuditha-rajadasa-b0157917b  ...     0
100                    supunkarunanayaka  ...     0
106                        harini-perera  ...     0
107       samadhi-chathuranga-rathnayake  ...     0
108                      rohitsasidharan  ...     0
112  methmal-udan-abeywickrama-6b22a4190  ...     0
113                           gowthami05  ...     0
116          sagara-sumathipala-275a4b38  ...     0
117                     akhilsakhardande  ...     0
118              aarthif-nawaz-61a390191  ...     0
122          kasun-weerasooriya-a83600a9  ...     0
125                       yasithfernando  ...     0
126                         vishva-gayan  ...     0
127            chandika-johan-ariyaratne  ...     0
128        dinindu-seneviratne-259697120  ...     0
129                    hong-vu-576958144  ...     0
130                       swati-chanchal  ...     0
132              shainy-dsouza-812955174  ...     0
150               thakshika-thirilojanan  ...     0
151                         di-edward-ai  ...     0
153         imesha-jayasundara-a7962917a  ...     0
158                              nuwan12  ...     0
160                  viny-vyas-32b7a81b3  ...     0
163             zain-ul-abdeen-1130971b9  ...     0
180             emmanuel-ravin-0687a5165  ...     0
186            divya-krishnani-b8914a137  ...     0
209               khushali-shah-8242107a  ...     0
219               suchit-dehury-374436a6  ...     0
221            prajwal-mannure-32b749191  ...     0
226                     viraj-kulathunge  ...     0
231                         dkharshanath  ...     0
235              abhishek-singh-kushwaha  ...     0
239                      dinuka-nicholas  ...     0
242               srihari-nune-899b39146  ...     0
249                vicky-gupta-583016168  ...     0
253                            kritisahu  ...     0
254               nishant-babel-5141283a  ...     0
265                   soham-sen-8a597218  ...     0
274              ashish-dhakad-84679a142  ...     0
279                 rounak-roy-742a44175  ...     0
280                    gayakshikagimhani  ...     0
283            prakhar-agrawal-67b451104  ...     0
284                           rohithramr  ...     0
285                        jawad--arshad  ...     0
288                         vansh-jatana  ...     0
289                     parulpandeyindia  ...     0
290                         kashyapbarua  ...     0
293                         swatirai1410  ...     0
294                               aash07  ...     0
298                            ritabhash  ...     0
307                          dineshmk594  ...     0
310                              fezancs  ...     0
311                           dolmayeshi  ...     0
317                         erandi-silva  ...     0
318                 sehran-imam-b3b41979  ...     0
320                       norah-alasfour  ...     0
323                             ematinov  ...     0
325                      nitin-kumar-pal  ...     0
327                jayesh-dosi-030192121  ...     0
331                          liamliuyuan  ...     0
334                       shirishcshetty  ...     0
335               ayush-ranjan-080502169  ...     0
336       palakodeti-bharadwaj-37a838166  ...     0
337            anwesha-mohanty-24b68815b  ...     0
340               waqqas-ansari-36395686  ...     0
354                    prabod-rathnayaka  ...     0
355               tsk-chaitanya-84993a78  ...     0
368                        gnana-prasath  ...     0
379                          abhismatrix  ...     0
410                        khalil-henchi  ...     0

[87 rows x 11 columns]

In [79]:
DataScience3 = DataSci_Check7.loc[[10,11,12,40,59,62,67,92,112,113,116,122,127,128,130,132,151,153,158,160,163,180,209,221,226,231,235,239,242,249,253,254,274,279,280,283,284,285,288,289,307,310,311,317,320,323,340,354,368,379],:]

In [80]:
DataScience3.shape

(50, 11)

In [81]:
Data_Science_Pro = pd.concat([DataScience1,DataScience2,DataScience3],ignore_index=True)

In [82]:
Data_Science_Pro.shape

(350, 11)

In [83]:
MachineLearning_ProDaSc = pd.concat([MAchineLearning1,MAchineLearning2,MAchineLearning3],ignore_index=True)

In [84]:
MachineLearning_ProDaSc.shape

(15, 11)

In [85]:
DataEngineer1.shape

(13, 11)

In [86]:
DataAnalytics1.shape

(8, 11)

In [ ]:
Data_Science_Pro

In [ ]:
MachineLearning_ProDaSc

In [ ]:
DataEngineer1

In [ ]:
DataAnalytics1

In [91]:
Data_Science_out = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/DataSci_ML_DataEng/DSci_full.csv')

In [92]:
Data_Science_out.shape

(104, 12)

In [94]:
Data_Science_out = Data_Science_out.drop(['Unnamed: 0'], axis=1)

In [95]:
Data_Science_out.shape

(104, 11)

In [96]:
Data_Science = pd.concat([Data_Science_out,Data_Science_Pro],ignore_index=True)

In [97]:
Data_Science.shape

(454, 11)

In [98]:
Data_Science_w_o_dup = Data_Science.drop_duplicates(subset='id', keep="first")

In [99]:
Data_Science_w_o_dup.shape

(422, 11)

In [101]:
Data_Science_w_o_dup.insert(10,'Target','Data Science')

In [102]:
Data_Science_w_o_dup = Data_Science_w_o_dup.drop(['organization_title_1','label'], axis=1)

In [103]:
Data_Science_w_o_dup.shape

(422, 10)

In [105]:
Data_Science_w_o_dup.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/Data_Science_processed_WithTarget_Value.csv')

In [106]:
Machine_Learning_out = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/DataSci_ML_DataEng/ML_full.csv')

In [107]:
Machine_Learning_out.shape

(478, 12)

In [109]:
Machine_Learning_out = Machine_Learning_out.drop(['Unnamed: 0'], axis=1)

In [111]:
Machine_Learning = pd.concat([Machine_Learning_out,MachineLearning_ProDaSc],ignore_index=True)

In [110]:
Machine_Learning_out.shape

(478, 11)

In [108]:
MachineLearning_ProDaSc.shape

(15, 11)

In [112]:
Machine_Learning.shape

(493, 11)

In [113]:
Machine_Learning_w_o_dup = Machine_Learning.drop_duplicates(subset='id', keep="first")

In [114]:
Machine_Learning_w_o_dup.shape

(486, 11)

In [118]:
Machine_Learning_w_o_dup.insert(10,'Target','Machine Learning Engineer')

In [120]:
Machine_Learning_w_o_dup = Machine_Learning_w_o_dup.drop(['organization_title_1','label'], axis=1)

In [121]:
Machine_Learning_w_o_dup.shape

(486, 10)

In [122]:
Machine_Learning_w_o_dup.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/Machine_Learning_processed_WithTarget_Value.csv')

In [116]:
Data_Engineer_out = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/DataSci_ML_DataEng/DEng_full.csv')

In [117]:
Data_Engineer_out.shape

(274, 12)

In [123]:
Data_Engineer_out = Data_Engineer_out.drop(['Unnamed: 0'], axis=1)

In [124]:
Data_Engineer_out.shape

(274, 11)

In [125]:
Data_Engineer = pd.concat([Data_Engineer_out,DataEngineer1],ignore_index=True)

In [126]:
Data_Engineer.shape

(287, 11)

In [127]:
Data_Engineer_w_o_dup = Data_Engineer.drop_duplicates(subset='id', keep="first")

In [128]:
Data_Engineer_w_o_dup.shape

(273, 11)

In [129]:
Data_Engineer_w_o_dup.insert(10,'Target','Data Engineer')

In [130]:
Data_Engineer_w_o_dup.shape

(273, 12)

In [131]:
Data_Engineer_w_o_dup = Data_Engineer_w_o_dup.drop(['organization_title_1','label'], axis=1)

In [132]:
Data_Engineer_w_o_dup.shape

(273, 10)

In [133]:
Data_Engineer_w_o_dup.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/Data_Engineer_processed_WithTarget_Value.csv')