<a href="https://colab.research.google.com/github/farookfazni/AI-to-Predict-Career-Path/blob/master/Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import nltk

In [2]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
Data = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/FullyMerged.csv')

In [4]:
Data.head()

   Unnamed: 0  ...             Target
0           0  ...  Software Engineer
1           1  ...  Software Engineer
2           2  ...  Software Engineer
3           3  ...  Software Engineer
4           4  ...  Software Engineer

[5 rows x 11 columns]

In [5]:
Data = Data.drop(['Unnamed: 0'], axis=1)

In [6]:
Data.head()

                                   id  ...             Target
0                      gayanchinthaka  ...  Software Engineer
1  kashita-niranjan-udayanga-04106a47  ...  Software Engineer
2   lingeswaran-sivapiriyan-b90685177  ...  Software Engineer
3             viraj-chamara-5b6751149  ...  Software Engineer
4           iyani-kalupahana-5b781951  ...  Software Engineer

[5 rows x 10 columns]

In [7]:
def check_Missing(dataset, precent):
  #Checking columns with missing data
  Miss_Percent=100*(dataset.isnull().sum()/len(dataset))

  #Sorting the data columns by their percentage in descending order (big to small)
  # by using Miss_Percent>0 it takes values,ore than 0
  # round(1) this is used to round the value to one decimal point .0
  Miss_Percent=Miss_Percent[Miss_Percent>precent].sort_values(ascending=False).round(1)

  #Creating a dataframe to show percentage of missing data and its respective data column in table
  DataFrame=pd.DataFrame(Miss_Percent)
  miss_percent_table=DataFrame.rename(columns={0:'% of Missing Values'})
  MissPercent=miss_percent_table

  #Displaying Missing Value table
  return MissPercent

In [8]:
Data_New = Data.replace(r'^\s*$', np.nan, regex=True)

In [9]:
MissPercent = check_Missing(Data_New,0)

In [10]:
MissPercent

        % of Missing Values
edu_3                  62.8
org_4                  47.7
edu_2                  30.3
org_3                  26.3
org_2                   8.9
edu_1                   7.3
skills                  4.3

In [11]:
Data['tokenized_skills'] = Data.apply(lambda row: nltk.word_tokenize(row['skills']), axis=1)

In [14]:
Data['tokenized_edu1'] = Data.apply(lambda row: nltk.word_tokenize(row['edu_1']), axis=1)
Data['tokenized_edu2'] = Data.apply(lambda row: nltk.word_tokenize(row['edu_2']), axis=1)
Data['tokenized_edu3'] = Data.apply(lambda row: nltk.word_tokenize(row['edu_3']), axis=1)
Data['tokenized_org1'] = Data.apply(lambda row: nltk.word_tokenize(row['org_1']), axis=1)
Data['tokenized_org2'] = Data.apply(lambda row: nltk.word_tokenize(row['org_2']), axis=1)
Data['tokenized_org3'] = Data.apply(lambda row: nltk.word_tokenize(row['org_3']), axis=1)

In [15]:
Data

                                      id  ...                                     tokenized_org3
0                         gayanchinthaka  ...                  [Internship, Trainee, Rezgateway]
1     kashita-niranjan-udayanga-04106a47  ...                   [Trainee, Engineer, Lanka, Bell]
2      lingeswaran-sivapiriyan-b90685177  ...                                                 []
3                viraj-chamara-5b6751149  ...                                                 []
4              iyani-kalupahana-5b781951  ...  [Researcher, National, University, of, Singapore]
...                                  ...  ...                                                ...
4571                            ematinov  ...                [Deep, Learning, Engineer, Oxagile]
4572              waqqas-ansari-36395686  ...                                                 []
4573                   prabod-rathnayaka  ...                [Data, Scientist, John, Snow, Labs]
4574                       gnana-prasath  ...  [Application, Development, Analyst, Accenture,...
4575                         abhismatrix  ...                [Senior, Data, Scientist, SigTuple]

[4576 rows x 17 columns]

In [21]:
Data_tokenized = Data.iloc[:,9:]

In [22]:
Data_tokenized

                 Target  ...                                     tokenized_org3
0     Software Engineer  ...                  [Internship, Trainee, Rezgateway]
1     Software Engineer  ...                   [Trainee, Engineer, Lanka, Bell]
2     Software Engineer  ...                                                 []
3     Software Engineer  ...                                                 []
4     Software Engineer  ...  [Researcher, National, University, of, Singapore]
...                 ...  ...                                                ...
4571       Data Science  ...                [Deep, Learning, Engineer, Oxagile]
4572       Data Science  ...                                                 []
4573       Data Science  ...                [Data, Scientist, John, Snow, Labs]
4574       Data Science  ...  [Application, Development, Analyst, Accenture,...
4575       Data Science  ...                [Senior, Data, Scientist, SigTuple]

[4576 rows x 8 columns]