<a href="https://colab.research.google.com/github/farookfazni/AI-to-Predict-Career-Path/blob/master/Research_DataExtract.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
Data = pd.read_csv('/content/drive/MyDrive/Research Dataset/csv/Mobile_Dev.csv')
# Data.head()

In [ ]:
pd.set_option('max_rows', 99999)
pd.set_option('max_colwidth', 400)
pd.describe_option('max_colwidth')

# display.max_colwidth : int
#     The maximum width in characters of a column in the repr of
#     a pandas data structure. When the column overflows, a "..."
#     placeholder is embedded in the output.
#     [default: 50] [currently: 400]

display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 400]

In [ ]:
class ex_data:
  def __init__(self, dataset):
    self.dataset = dataset

# Extract the skills (cleaning skill set)
  def skill(self, dataset,end=51):
    self.dataset = dataset
    skills = pd.DataFrame([])
    # using banned valued list to remove string null
    banned = ['null']
    skills = dataset['skills'].str.split(',', expand=True)
    # end is used here to get number of skills (it might be differ 1 to another)
    for i in range(0,end):
      # Removing numbers and other special characters
      skills[i] = skills[i].fillna('').astype(str).str.replace(r'[^A-Za-z ]', '', regex=True).replace('', np.nan, regex=False)
      # removing null string from dataset
      skills[i] = [' '.join([item for item in x.split() 
                      if item not in banned]) 
                      for x in skills[i].astype(str)]
    dataset_withskil = pd.concat([skills],axis=1)
    return dataset_withskil

# Extract education in dataset
  def edu(self, dataset):
    self.dataset = dataset
    #  geting only the wanted things in dataset acording to education
    dataset_edu1 = dataset[['education_1','education_degree_1','education_start_1','education_end_1','education_description_1']]
    dataset_edu2 = dataset[['education_2','education_degree_2','education_start_2','education_end_2','education_description_2']]
    dataset_edu3 = dataset[['education_3','education_degree_3','education_start_3','education_end_3','education_description_3']]
    dataset_withedu = pd.concat([dataset_edu1,dataset_edu2,dataset_edu3],axis=1)
    return dataset_withedu

# Extract working expirence in dataset
  def work(self, dataset):
    self.dataset = dataset
    #  geting only the wanted things in dataset acording to work expirence
    dataset_work1 = dataset[['organization_1','organization_title_1','organization_start_1']]
    dataset_work2 = dataset[['organization_2','organization_title_2','organization_start_2']]
    dataset_work3 = dataset[['organization_3','organization_title_3','organization_start_3']]
    dataset_work4 = dataset[['organization_4','organization_title_4','organization_start_4']]
    dataset_withwork = pd.concat([dataset_work1,dataset_work2,dataset_work3,dataset_work4],axis=1)
    return dataset_withwork

In [ ]:
def concat(dataset,df1,df2,df3):
  datset_concat = pd.concat([dataset['id'],df1,df2,df3],axis=1)
  return datset_concat

In [ ]:
def check_Missing(dataset, precent):
  #Checking columns with missing data
  Miss_Percent=100*(dataset.isnull().sum()/len(dataset))

  #Sorting the data columns by their percentage in descending order (big to small)
  # by using Miss_Percent>0 it takes values,ore than 0
  # round(1) this is used to round the value to one decimal point .0
  Miss_Percent=Miss_Percent[Miss_Percent>precent].sort_values(ascending=False).round(1)

  #Creating a dataframe to show percentage of missing data and its respective data column in table
  DataFrame=pd.DataFrame(Miss_Percent)
  miss_percent_table=DataFrame.rename(columns={0:'% of Missing Values'})
  MissPercent=miss_percent_table

  #Displaying Missing Value table
  return MissPercent

In [ ]:
# before Eexcuting this check the prcentage else it will remove all the miss values columns (including 0.1%)
def Missing_Removal(dataset,MissPercent):
  count = 0
  for i in dataset.columns:
    for j in MissPercent.index:
      if i==j:
        dataset.drop(j,axis=1,inplace=True)
        count +=1
  return dataset

In [ ]:
Data_BA = pd.read_csv('/content/drive/MyDrive/Research Dataset/csv/BA.csv')
Data_Cyber = pd.read_csv('/content/drive/MyDrive/Research Dataset/csv/CyberSecurity_linkedIn.csv')
Data_DEng = pd.read_csv('/content/drive/MyDrive/Research Dataset/csv/DataEngineer_LinkedIN.csv')
Data_DSci = pd.read_csv('/content/drive/MyDrive/Research Dataset/csv/DataScience_LinkedIN.csv')
Data_Dev = pd.read_csv('/content/drive/MyDrive/Research Dataset/csv/DevOps.csv')
Data_ML = pd.read_csv('/content/drive/MyDrive/Research Dataset/csv/MLEng_LinkedIn.csv')
Data_QA = pd.read_csv('/content/drive/MyDrive/Research Dataset/csv/QA.csv')
Data_SE = pd.read_csv('/content/drive/MyDrive/Research Dataset/csv/linkedhelper_SE.csv')
Data_NET = pd.read_csv('/content/drive/MyDrive/Research Dataset/csv/linkedhelper_network_engineer.csv')
Data_MOB = pd.read_csv('/content/drive/MyDrive/Research Dataset/csv/Mobile_Dev.csv')

In [ ]:
BA = ex_data(Data_BA)
BA_skill = BA.skill(Data_BA,49)
BA_edu = BA.edu(Data_BA)
BA_work = BA.work(Data_BA)
BA_datset_concat = concat(Data_BA,BA_skill,BA_edu,BA_work)
BA_datset_concat.columns

In [ ]:
Cyber = ex_data(Data_Cyber)
Cyber_skill = Cyber.skill(Data_Cyber)
Cyber_edu = Cyber.edu(Data_Cyber)
Cyber_work = Cyber.work(Data_Cyber)
Cyber_datset_concat = concat(Data_Cyber,Cyber_skill,Cyber_edu,Cyber_work)
Cyber_datset_concat.columns

In [ ]:
DEng = ex_data(Data_DEng)
DEng_skill = DEng.skill(Data_DEng)
DEng_edu = DEng.edu(Data_DEng)
DEng_work = DEng.work(Data_DEng)
DEng_datset_concat = concat(Data_DEng,DEng_skill,DEng_edu,DEng_work)
DEng_datset_concat.columns

In [ ]:
DSci = ex_data(Data_DSci)
DSci_skill = DSci.skill(Data_DSci)
DSci_edu = DSci.edu(Data_DSci)
DSci_work = DSci.work(Data_DSci)
DSci_datset_concat = concat(Data_DSci,DSci_skill,DSci_edu,DSci_work)
DSci_datset_concat.columns

In [ ]:
Dev = ex_data(Data_Dev)
Dev_skill = Dev.skill(Data_Dev)
Dev_edu = Dev.edu(Data_Dev)
Dev_work = Dev.work(Data_Dev)
Dev_datset_concat = concat(Data_Dev,Dev_skill,Dev_edu,Dev_work)
Dev_datset_concat.columns

In [ ]:
ML = ex_data(Data_ML)
ML_skill = ML.skill(Data_ML)
ML_edu = ML.edu(Data_ML)
ML_work = ML.work(Data_ML)
ML_datset_concat = concat(Data_ML,ML_skill,ML_edu,ML_work)
ML_datset_concat.columns

In [ ]:
QA = ex_data(Data_QA)
QA_skill = QA.skill(Data_QA,49)
QA_edu = QA.edu(Data_QA)
QA_work = QA.work(Data_QA)
QA_datset_concat = concat(Data_QA,QA_skill,QA_edu,QA_work)
QA_datset_concat.columns

In [ ]:
SE = ex_data(Data_SE)
SE_skill = SE.skill(Data_SE)
SE_edu = SE.edu(Data_SE)
SE_work = SE.work(Data_SE)
SE_datset_concat = concat(Data_SE,SE_skill,SE_edu,SE_work)
SE_datset_concat.columns

In [ ]:
NET = ex_data(Data_NET)
NET_skill = NET.skill(Data_NET)
NET_edu = NET.edu(Data_NET)
NET_work = NET.work(Data_NET)
NET_datset_concat = concat(Data_NET,NET_skill,NET_edu,NET_work)
NET_datset_concat.columns

In [ ]:
MOB = ex_data(Data_MOB)
MOB_skill = MOB.skill(Data_MOB)
MOB_edu = MOB.edu(Data_MOB)
MOB_work = MOB.work(Data_MOB)
MOB_datset_concat = concat(Data_MOB,MOB_skill,MOB_edu,MOB_work)
MOB_datset_concat.columns

In [ ]:
BA_datset_concat.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/BA_processed1.csv')
Cyber_datset_concat.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/Cyber_processed1.csv')
DEng_datset_concat.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/DEng_processed1.csv')
DSci_datset_concat.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/DSci_processed1.csv')
Dev_datset_concat.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/Dev_processed1.csv')
ML_datset_concat.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/ML_processed1.csv')
QA_datset_concat.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/QA_processed1.csv')
SE_datset_concat.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/SE_processed1.csv')
NET_datset_concat.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/NET_processed1.csv')
MOB_datset_concat.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/MOB_processed1.csv')

In [ ]:
for i in Data.columns:
  print(i)

In [ ]:
MissPercent = check_Missing(Data)
# MissPercent
# Data_New = Missing_Removal(Data,MissPercent)       # Remove only if nesesary

In [ ]:
MissPercent = check_Missing(Data[['organization_1','organization_title_1','organization_start_1']],5)
MissPercent

                % of Missing Values
organization_1                  6.7

In [ ]:
# Data_Eng_withskil.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/dataEngskillprocessed1.csv')
# Data_Eng_withsedu.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/dataEngeduprocessed1.csv')
# dataset_withwork.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/dataEngworkprocessed1.csv')

In [ ]:
# Data_New[['organization_4','organization_title_4','organization_start_4']]

In [ ]:
# def skill(dataset):
#   skills = pd.DataFrame([])
#   banned = ['null']
#   skills = dataset['skills'].str.split(',', expand=True)
#   for i in range(0,51):
#     skills[i] = skills[i].fillna('').astype(str).str.replace(r'[^A-Za-z ]', '', regex=True).replace('', np.nan, regex=False)
#     skills[i] = [' '.join([item for item in x.split() 
#                     if item not in banned]) 
#                     for x in skills[i].astype(str)]
#   dataset_withskil = pd.concat([dataset['id'],skills],axis=1)
#   return dataset_withskil

In [ ]:
# def edu(dataset):
#   dataset_edu1 = dataset[['education_1','education_degree_1','education_start_1','education_end_1','education_description_1']]
#   dataset_edu2 = dataset[['education_2','education_degree_2','education_start_2','education_end_2','education_description_2']]
#   dataset_edu3 = dataset[['education_3','education_degree_3','education_start_3','education_end_3','education_description_3']]
#   dataset_withedu = pd.concat([dataset['id'],dataset_edu1,dataset_edu2,dataset_edu3],axis=1)
#   return dataset_withedu

In [ ]:
# def work(dataset):
#   dataset_work1 = dataset[['organization_1','organization_title_1','organization_start_1']]
#   dataset_work2 = dataset[['organization_2','organization_title_2','organization_start_2']]
#   dataset_work3 = dataset[['organization_3','organization_title_3','organization_start_3']]
#   dataset_work4 = dataset[['organization_4','organization_title_4','organization_start_4']]
#   dataset_withwork = pd.concat([dataset['id'],dataset_work1,dataset_work2,dataset_work3,dataset_work4],axis=1)
#   return dataset_withedu

In [ ]:
# df = pd.DataFrame(MissPercent['% of Missing Values'].astype(str).str.split(' ').tolist(),columns = ['fips','row'])