<a href="https://colab.research.google.com/github/farookfazni/AI-to-Predict-Career-Path/blob/master/SE_and_QA_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
QA = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Cleaned_Data_Step1/QA_processed1.csv')
SE = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Cleaned_Data_Step1/SE_processed1.csv')

In [3]:
QA_title = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Fully_Extracted_Data/QA_processed1.csv')
SE_title = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Fully_Extracted_Data/SE_processed1.csv')

In [4]:
SE_title['organization_title_1']

0                Software Engineer
1                Software Engineer
2                Software Engineer
3                Software Engineer
4                Software Engineer
                  ...
579                Student Member
580    Associate Software Engineer
581              Software Engineer
582       Senior Software Engineer
583              Software Engineer
Name: organization_title_1, Length: 584, dtype: object

In [5]:
SE_Data = pd.concat([SE,SE_title['organization_title_1']], axis=1)
QA_Data = pd.concat([QA,QA_title['organization_title_1']], axis=1)

In [6]:
# Drop column
QA_Data = QA_Data.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)
SE_Data = SE_Data.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)

In [31]:
def check_Avalaiblity(datset,x="Software Engineer"):
  countpos = 0
  countneg = 0
  other_labels = []
  label = []
  # goimg through the datset
  for i in datset['organization_title_1']:
    # making sure all values are string
    st = str(i)
    # cheking the sub string exisits in string
    if x in st:
      # if sting is available adding 1 to label
      label.append(1)
      # Keep count
      countpos += 1
    else:
      # if sting is not available adding 0 to label
      label.append(0)
      # adding the values of other string values to the other_label
      other_labels.append(st)
      countneg += 1
  return label, other_labels, countpos, countneg

In [32]:
label, other_labels, countpos, countneg = check_Avalaiblity(SE_Data,"Software Engineer")

In [33]:
countneg

24

In [34]:
SE_Data['label'] = label

In [35]:
SE_Data_New = SE_Data.loc[SE_Data['label']==0]

In [36]:
SE_Data_New

                                   id  ... label
17                            ashamad  ...     0
20                             ashant  ...     0
25   chaithika-abeywickrame-a03332105  ...     0
26        kavinda-nirushana-956438164  ...     0
33               chathura-samarajeewa  ...     0
73    sarmitha-krishnagobal-570407172  ...     0
82                           rnithees  ...     0
91                          sahan1999  ...     0
111                       sachintha96  ...     0
123               chirathkarunarathna  ...     0
133             lahiru-jayalath-00300  ...     0
142                 manthika-kodikara  ...     0
145          sandun-champika-7a5b3a71  ...     0
155         wasika-marambage-5a506845  ...     0
191                      ridmagimhani  ...     0
198                   chameeradulanga  ...     0
215                  nalin-athukorala  ...     0
308        dinesh-udangamuwa-13a03150  ...     0
370                methmasamaranayake  ...     0
395      muditha-jayawardana-2b6aba57  ...     0
533          prabhash-dilhan-7b4b2b99  ...     0
554                          osanda-d  ...     0
573                ravilal-senanayake  ...     0
579                      sangeeth-raj  ...     0

[24 rows x 11 columns]

In [41]:
def drop_values(dataset,value):
  # Drop row first filter value
  Dropvalue = dataset[dataset['organization_title_1']== value]
  # Droping the value that filtered above cell
  dataset.drop(Dropvalue.index, inplace= True)
  return dataset

In [40]:
SE_Data.shape

(584, 11)

In [ ]:
drop_values(SE_Data,'Student')

In [43]:
SE_Data.shape

(583, 11)

In [ ]:
drop_values(SE_Data,'Manager IT')

In [ ]:
drop_values(SE_Data,'Visiting lecturer/Researcher')

In [56]:
SE_Data.shape

(582, 12)

In [ ]:
SE_Data.insert(10,'Target','Software Engineer')

In [59]:
SE_Data

                                     id  ... label
0                        gayanchinthaka  ...     1
1    kashita-niranjan-udayanga-04106a47  ...     1
2     lingeswaran-sivapiriyan-b90685177  ...     1
3               viraj-chamara-5b6751149  ...     1
4             iyani-kalupahana-5b781951  ...     1
..                                  ...  ...   ...
579                        sangeeth-raj  ...     0
580         suraja-sandaruwan-58b022196  ...     1
581               nipuna-madhushan-0311  ...     1
582                 nimesha-gunawardana  ...     1
583                           charithcj  ...     1

[582 rows x 12 columns]

In [61]:
SE_Data = SE_Data.drop(['organization_title_1','label'], axis=1)

In [62]:
SE_Data

                                     id  ...             Target
0                        gayanchinthaka  ...  Software Engineer
1    kashita-niranjan-udayanga-04106a47  ...  Software Engineer
2     lingeswaran-sivapiriyan-b90685177  ...  Software Engineer
3               viraj-chamara-5b6751149  ...  Software Engineer
4             iyani-kalupahana-5b781951  ...  Software Engineer
..                                  ...  ...                ...
579                        sangeeth-raj  ...  Software Engineer
580         suraja-sandaruwan-58b022196  ...  Software Engineer
581               nipuna-madhushan-0311  ...  Software Engineer
582                 nimesha-gunawardana  ...  Software Engineer
583                           charithcj  ...  Software Engineer

[582 rows x 10 columns]

In [63]:
SE_Data.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/SE_Data_processed_WithTarget_Value.csv')

In [ ]:
# Drop duplicate columns using a unique(key) Value
Data_new = Data.drop_duplicates(subset='id', keep="last")

In [42]:
# Drop row first filter value
# Dropvalue = SE_Data[SE_Data['organization_title_1']=='Student']

In [43]:
# Droping the value that filtered above cell
# SE_Data.drop(Dropvalue.index, inplace= True)

In [47]:
# pd.set_option('max_rows', 99999)
# pd.set_option('max_colwidth', 400)
# pd.describe_option('max_colwidth')

In [14]:
# SE_Data_New = SE_Data.loc[SE_Data['label']==0]

In [15]:
# SE_Data_New.shape

(24, 11)

In [41]:
# DEng_New.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/DEng_New_processed_Check.csv')

In [23]:
# print(count)

218

In [ ]:
# Data_new.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/DS_ML_processed1.csv')

In [ ]:
# count = 0
# # labelfound = []
# label2 = []
# for i in DEng_New['organization_title_1']:
#   st = str(i) 
#   if "Data" in st:
#     label2.append(1)
#   else:
#     count += 1
#     label2.append(0)
#     print(st)

In [ ]:
# Data = pd.concat([ML_Data,DSci_Data,DEng_Data],ignore_index=True)

In [ ]:
# Drop Column
# Data = Data.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)

In [12]:
# Data

In [13]:
# Data_new

In [ ]:
# Data.insert(9,Target,ML Engineer)