<a href="https://colab.research.google.com/github/farookfazni/AI-to-Predict-Career-Path/blob/master/SE_and_QA_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
QA = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Cleaned_Data_Step1/QA_processed1.csv')
SE = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Cleaned_Data_Step1/SE_processed1.csv')

In [3]:
QA_title = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Fully_Extracted_Data/QA_processed1.csv')
SE_title = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Fully_Extracted_Data/SE_processed1.csv')

In [8]:
QA_title['organization_title_1']

0                Quality Assurance Engineer
1                Quality Assurance Engineer
2                         Quality Assurance
3                Quality Assurance Engineer
4      Associate Quality Assurance Engineer
                       ...
497              Quality Assurance Engineer
498              Quality Assurance Engineer
499     Quality Assurance Software Engineer
500              Quality Assurance Engineer
501              Quality Assurance Engineer
Name: organization_title_1, Length: 502, dtype: object

In [5]:
SE_Data = pd.concat([SE,SE_title['organization_title_1']], axis=1)
QA_Data = pd.concat([QA,QA_title['organization_title_1']], axis=1)

In [6]:
# Drop column
QA_Data = QA_Data.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)
SE_Data = SE_Data.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)

In [7]:
def check_Avalaiblity(datset,x="Software Engineer"):
  countpos = 0
  countneg = 0
  other_labels = []
  label = []
  # goimg through the datset
  for i in datset['organization_title_1']:
    # making sure all values are string
    st = str(i)
    # cheking the sub string exisits in string
    if x in st:
      # if sting is available adding 1 to label
      label.append(1)
      # Keep count
      countpos += 1
    else:
      # if sting is not available adding 0 to label
      label.append(0)
      # adding the values of other string values to the other_label
      other_labels.append(st)
      countneg += 1
  return label, other_labels, countpos, countneg

In [9]:
label, other_labels, countpos, countneg = check_Avalaiblity(QA_Data,"Quality Assurance")

In [10]:
countneg

28

In [12]:
QA_Data['label'] = label

In [14]:
QA_Data_New = QA_Data.loc[QA_Data['label']==0]

In [15]:
QA_Data_New

                                     id  ... label
8        nuwandhi-seneviratne-b32789145  ...     0
49        abilashini-nadarajah-11a55485  ...     0
67           yashika-sathsari-16995a178  ...     0
81          vithya-rasalingam-a808bb131  ...     0
97           geethika-kalhari-52b59715b  ...     0
107        kavindya-hingurage-2378681a1  ...     0
108          thamodya-dinushi-390b1316b  ...     0
110             akeela-saleem-a4b99b188  ...     0
131  udara-sembukuttiarachchi-6008a5151  ...     0
164        krishani-jayaweera-58a10411a  ...     0
189                    madushi-prashadi  ...     0
208        sanduni-rathnayake-82aa94201  ...     0
209            saran-prasanth-a81bbb134  ...     0
258                  randima-senanayake  ...     0
262          kushan-ranasinghe-27a45185  ...     0
291         andrew-gunasekara-4a30a3127  ...     0
302                      ayeshapanchavi  ...     0
316                             sripali  ...     0
379               chathurika-senarath92  ...     0
402           malidi-jinadasa-b6484a1a0  ...     0
404              nayani-gange-626945116  ...     0
425                             janiths  ...     0
429               gazzaz-thaha-b5945638  ...     0
431                             asantha  ...     0
433             dasuni-hansana-9902737b  ...     0
452                     kishankrishna23  ...     0
471            supuni-kavindi-634666150  ...     0
475           kaveesha-dewpura-2b632147  ...     0

[28 rows x 11 columns]

In [30]:
def drop_values(dataset,value):
  # Drop row first filter value
  Dropvalue = dataset[dataset['organization_title_1'] == value]
  # Droping the value that filtered above cell
  dataset.drop(Dropvalue.index, inplace= True)
  return dataset

In [31]:
QA_Data.shape

(502, 11)

In [35]:
QA_Data = QA_Data.drop(107)

In [ ]:
QA_Data

In [ ]:
drop_values(QA_Data,107)

In [36]:
QA_Data.shape

(501, 11)

In [38]:
QA_Data = QA_Data.drop(208)

In [39]:
QA_Data.shape

(500, 11)

In [40]:
QA_Data = QA_Data.drop(258)
QA_Data = QA_Data.drop(291)
QA_Data = QA_Data.drop(433)

In [41]:
QA_Data.shape

(497, 11)

In [42]:
QA_Data_New = QA_Data.loc[QA_Data['label']==0]

In [43]:
QA_Data_New

                                     id  ... label
8        nuwandhi-seneviratne-b32789145  ...     0
49        abilashini-nadarajah-11a55485  ...     0
67           yashika-sathsari-16995a178  ...     0
81          vithya-rasalingam-a808bb131  ...     0
97           geethika-kalhari-52b59715b  ...     0
108          thamodya-dinushi-390b1316b  ...     0
110             akeela-saleem-a4b99b188  ...     0
131  udara-sembukuttiarachchi-6008a5151  ...     0
164        krishani-jayaweera-58a10411a  ...     0
189                    madushi-prashadi  ...     0
209            saran-prasanth-a81bbb134  ...     0
262          kushan-ranasinghe-27a45185  ...     0
302                      ayeshapanchavi  ...     0
316                             sripali  ...     0
379               chathurika-senarath92  ...     0
402           malidi-jinadasa-b6484a1a0  ...     0
404              nayani-gange-626945116  ...     0
425                             janiths  ...     0
429               gazzaz-thaha-b5945638  ...     0
431                             asantha  ...     0
452                     kishankrishna23  ...     0
471            supuni-kavindi-634666150  ...     0
475           kaveesha-dewpura-2b632147  ...     0

[23 rows x 11 columns]

In [44]:
QA_Data.shape

(497, 11)

In [45]:
QA_Data.insert(10,'Target','Quality Assurance')

In [46]:
QA_Data

                                  id  ... label
0         nuwani-ruwanthika-a11809b0  ...     1
1                           upekshar  ...     1
2         rashini-fernando-640733186  ...     1
3        uthpala-amarasena-72b640167  ...     1
4      sachini-nayanathara-753b58170  ...     1
..                               ...  ...   ...
497    ruwandhi-abeysinghe-5341ba175  ...     1
498  ruvini-wickramasinghe-317352152  ...     1
499          nilupul-amith-b39a1812a  ...     1
500        dinushi-rangika-7b85071a4  ...     1
501          niresh-perera-072b0421b  ...     1

[497 rows x 12 columns]

In [47]:
QA_Data = QA_Data.drop(['organization_title_1','label'], axis=1)

In [48]:
QA_Data

                                  id  ...             Target
0         nuwani-ruwanthika-a11809b0  ...  Quality Assurance
1                           upekshar  ...  Quality Assurance
2         rashini-fernando-640733186  ...  Quality Assurance
3        uthpala-amarasena-72b640167  ...  Quality Assurance
4      sachini-nayanathara-753b58170  ...  Quality Assurance
..                               ...  ...                ...
497    ruwandhi-abeysinghe-5341ba175  ...  Quality Assurance
498  ruvini-wickramasinghe-317352152  ...  Quality Assurance
499          nilupul-amith-b39a1812a  ...  Quality Assurance
500        dinushi-rangika-7b85071a4  ...  Quality Assurance
501          niresh-perera-072b0421b  ...  Quality Assurance

[497 rows x 10 columns]

In [49]:
QA_Data.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/QA_Data_processed_WithTarget_Value.csv')

In [ ]:
drop_values(SE_Data,'Manager IT')

In [ ]:
drop_values(SE_Data,'Visiting lecturer/Researcher')

In [ ]:
SE_Data.shape

(582, 12)

In [ ]:
SE_Data.insert(10,'Target','Software Engineer')

In [ ]:
SE_Data

In [ ]:
SE_Data = SE_Data.drop(['organization_title_1','label'], axis=1)

In [ ]:
SE_Data

In [ ]:
SE_Data.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/SE_Data_processed_WithTarget_Value.csv')

In [ ]:
# Drop duplicate columns using a unique(key) Value
Data_new = Data.drop_duplicates(subset='id', keep="last")

In [ ]:
# Drop row first filter value
# Dropvalue = SE_Data[SE_Data['organization_title_1']=='Student']

In [ ]:
# Droping the value that filtered above cell
# SE_Data.drop(Dropvalue.index, inplace= True)

In [ ]:
# pd.set_option('max_rows', 99999)
# pd.set_option('max_colwidth', 400)
# pd.describe_option('max_colwidth')

In [ ]:
# SE_Data_New = SE_Data.loc[SE_Data['label']==0]

In [ ]:
# SE_Data_New.shape

(24, 11)

In [ ]:
# DEng_New.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/DEng_New_processed_Check.csv')

In [ ]:
# print(count)

218

In [ ]:
# Data_new.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/DS_ML_processed1.csv')

In [ ]:
# count = 0
# # labelfound = []
# label2 = []
# for i in DEng_New['organization_title_1']:
#   st = str(i) 
#   if "Data" in st:
#     label2.append(1)
#   else:
#     count += 1
#     label2.append(0)
#     print(st)

In [ ]:
# Data = pd.concat([ML_Data,DSci_Data,DEng_Data],ignore_index=True)

In [ ]:
# Drop Column
# Data = Data.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)

In [ ]:
# Data

In [ ]:
# Data_new

In [ ]:
# Data.insert(9,Target,ML Engineer)